<template>
    <div class="dv-msg">
        <p class="txt-feedback"><slot></slot></p>
    </div>
</template>
<script>
export default {
    name:"MessageSuccess"
}
</script>
<style scoped>
.txt-feedback {
  margin-top: 1% !important;
  float: left;
    color: white;
    background: #04bb66;
    width: 100%;
    padding: 2%;
    border-radius: 0.5rem;
}
.dv-msg{
    margin-bottom: 1%;
}
</style>