<template>
    <div class="dv-msg">
        <p class="txt-feedback"><slot></slot></p>
    </div>
</template>
<script>
export default {
    name:"PasswordValidation"
}
</script>
<style scoped>
.txt-feedback {
  margin-top: 1% !important;
  float: left;
  margin-left: 4%;
  color: red;
}
.dv-msg{
    margin-bottom: 1%;
}
</style>