<template>
  <div class="auth-bg">
    <b-card no-body class="overflow-hidden card-model">
      <b-row no-gutters>
        <b-col md="7">
          <b-card-img
            :src="getBackgroundImgUrl()"
            alt="Image"
            class="rounded-0 auth-bg-blured img-card-bg"
          ></b-card-img>
          <b-card-img
            :src="getLogoImgUrl()"
            alt="Image"
            class="rounded-0 logo-card"
          ></b-card-img>
        </b-col>
        <b-col md="5" class="pd-tp-fields">
          <b-card-body>
            <b-card-text>
              <h1 class="txt-pink">Welcome !!</h1>
              <slot> </slot>
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "Authenticate",
  methods: {
    getBackgroundImgUrl() {
      return require("../../assets/images/auth-bg.jpg");
    },
    getLogoImgUrl() {
      return require("../../assets/images/logo-navbar.png");
    },
  },
};
</script>

<style scoped>
/* .card-model {
    margin: 5%;
} */

.input-group-text {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
}

.form-control {
  border: #ffffff !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;

  border-radius: 50px !important;
}

/* .card-model[data-v-d4d9c6e6] {
  margin: 5% 18% 5% 18%;
} */
.input-group {
  border: aliceblue !important;
  box-shadow: 1px 1px 1px 1px #be7add;
  border-radius: 38px !important;
}

.pd-tp-fields {
  padding: 5%;
}

.card-text > * {
  margin-top: 1%;
}

.b-icon {
  color: #9352b3;
}

.txt-pink {
  color: #9352b3;
}

.input-group-prepend {
  padding-top: 2%;
}

.link-grey {
  color: #131212 !important;
  font-weight: bold;
}

.link-pink {
  color: #bb1f75 !important;
  font-weight: bold;
}

.pink-btn {
  color: white;
  background: #bb1f75;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
}

.pink-btn:hover {
  color: #c9ccd2;
}

.mt-1 {
  margin-top: 10px;
}
/**
authentication background
 */
.auth-bg {
  background-image: url("../../assets/images/auth-bg.jpg");
  padding: 7% 15% 7% 15%;
  background-repeat: round;
}
@media screen and (orientation: portrait) {
  .auth-bg-blured {
    height: 100%;
    filter: blur(3px);
  }
  .no-gutters > .col-md-7 {
    display: none;
  }
  .auth-bg[data-v-98cd69c2] {
    background-image: url(/img/auth-bg.006b0dea.jpg);
    padding: 7% 3% 7% 3%;
  }
}
.logo-card {
  position: absolute;
  height: 19%;
  width: 11%;
  top: 36%;
  left: 25%;
}
.img-card-bg {
  height: 100%;
}
</style>
