<template>
<div class="dv-heading">
    <h5>
        <div class="row">
            <div class="col-lg-12">
                <slot name="heading"></slot>
                <img :src="getImgUrl()" class="heading-line-bar" />
                <span class="spn-pagination">
                    <slot name="pagination">
                        <a href=""><img :src="getImgUrl()" class="pagination-active" /></a>
                        <a href=""><img :src="getImgUrl()" class="img-pagination" /></a>
                        <a href=""><img :src="getImgUrl()" class="img-pagination" /></a>
                    </slot>
                </span>
            </div>
        </div>
    </h5>

</div>
</template>

<script>
export default {
    name: "GuestVideoHeading",
    methods: {
        getImgUrl() {
            return require('../../assets/images/navbar-bg.jpg');
        }
    }
}
</script>

<style scoped>
.heading-line-bar {
    height: 7px;
    width: 197px;
    margin-left: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.dv-heading {
    text-align: left;
    color: #b874d7;
}

.img-pagination {
    width: 9px;
    height: 7px;
    border-radius: 50%;
}

.pagination-active {
    width: 30px;
    height: 7px;
    border-radius: 50%;
}

.spn-pagination {
    float: right;
}

.spn-pagination>a {
    margin-left: 2px;
}
.row{
    width: 100%;
}
</style>
