<template>
  <div class="dv-message">
    <p>No <slot></slot> videos not found</p>
  </div>
</template>
<script>
export default {
  name: "VideoNotFound",
};
</script>
<style scoped>
.dv-message {
  padding: 5%;
  color: red;
  font-weight: bold;
  font-size: large;
  background: aliceblue;
  font-size: x-large;
}
</style>