<template>
  <div class="video-card" v-on:click="loadVideoDetail">
    <div class="loaded-video-card" :style="cardStyles">
      <slot name="img"></slot>
      <div class="dv-info">
        <p class="txt-title">
          <slot name="title"></slot>
        </p>
        <span class="txt-created-at">
          <slot name="created-at"></slot>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
Vue.prototype.$http = axios;
export default {
  name: "VideoLoaded",
  props: {
    cardWidth: String,
    videoData: Object,
    vendorKey:String
  },
  created: function () {
    console.log(this.cardWidth);
  },
  computed: {
    cardStyles() {
      return {
        width: this.cardWidth,
      };
    },
  },
  methods: {
    loadVideoDetail() {
       Vue.prototype.$videoData = this.videoData;
      this.$root.$emit("setSelectedVendors");
      this.$router.push({ path:'/video/'+this.videoData.platform.toLowerCase(), query: { v: this.videoData.play_id} });
    },
  },
};
</script>

<style scoped>
.loaded-video-card {
  width: 25%;
  float: left;
  border-right: 5px solid white;
  cursor: pointer;
}

.dv-info {
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.loaded-video-card > img {
  width: 100%;
  height: 200px;
}

.txt-created-at {
  font-size: smaller;
}
.txt-title{
    font-weight:bold;
}
</style>
