<template>
  <div class="row dv-suggested"  v-on:click="loadVideoDetail">
    <div class="col-lg-4">
      <slot name="img"></slot>
    </div>
    <div class="col-lg-6 text-left">
      <p class="txt-title">
        <slot name="title"></slot>
      </p>
      <p class="txt-subtitle">
        <slot name="subtitle"></slot>
      </p>
      <p class="txt-info">
        <span class="txt-vid-info">
          <slot name="views"></slot>
        </span>
        <span>
          <slot name="uploaded_at"></slot>
        </span>
      </p>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
//import config from '../../configurations/config'
Vue.prototype.$http = axios;
export default {
  name: "VideoSuggested",
  props:{
      videoData:Object,
      vendorId:String
  },
  methods:{
    loadVideoDetail(){
      Vue.prototype.$videoData = this.videoData;
      this.$router.push({ path:'/video/'+this.videoData.platform.toLowerCase(), query: { v: this.videoData.play_id} });
       this.$root.$emit("loadVideosBasedOnQuery");
    }
  }
};
</script>
<style scoped>
.txt-title{
  font-size:small;
}
.txt-vid-info{
    margin-left: 1%;
    margin-right: 10%;
}
img{
  width: 100%;
  height: 80px;
}
.dv-suggested{
  margin-top:1%;
  border: 1px dotted #be7add;
    padding: 2%;
    cursor: pointer;
}
.dv-suggested:hover{
  background: #f5e7fb;
}
p{
  margin-top: 0;
    margin-bottom: 0rem;
    text-align: left;
}
.txt-subtitle, .txt-info{
  font-size: x-small;
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 60%;
}
}
</style>