<template>
  <div class="dv-video-section" v-on:click="searchRelatedVideos">
    <div class="row">
      <div class="col-lg-2">
        <slot name="img"></slot>
      </div>
      <div class="col-lg-10">
        <div class="dv-info">
          <p class="txt-title">
            <slot name="title"></slot>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
Vue.prototype.$http = axios;
export default {
  name: "VideoMostSearched",
  props: {
    title: String,
    vendorKey: String,
  },
  methods: {
    searchRelatedVideos() {
      Vue.prototype.$inputSearched = this.title;
      Vue.prototype.$vendorId = this.vendorKey;
      this.$root.$emit("loadVideosBasedOnVendor", {
        data: this.$vendorId,
      });
      this.$router.push({
        path: "/search/"+this.vendorKey.toLowerCase(),
        query: { q: this.toSeoUrl(this.title) },
      });
    },
    toSeoUrl(url) {
      if(url != 'undefined' && url != undefined){
        return url
          .toString() // Convert to string
          .normalize("NFD") // Change diacritics
          .replace(/[\u0300-\u036f]/g, "") // Remove illegal characters
          .replace(/\s+/g, "-") // Change whitespace to dashes
          .replace(" ", "-") // Change whitespace to dashes
          .toLowerCase() // Change to lowercase
          .replace(/&/g, "-and-") // Replace ampersand
          .replace(/[^a-z0-9-]/g, "") // Remove anything that is not a letter, number or dash
          .replace(/-+/g, "-") // Remove duplicate dashes
          .replace(/^-*/, "") // Remove starting dashes
          .replace(/-*$/, ""); // Remove trailing dashes
      }
    },
  },
};
</script>

<style scoped>
img {
  width: 45px;
  border-radius: 50%;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.dv-video-section {
  width: 95%;
  border-bottom: 1px solid #b874d7;
  margin-left: 3%;
  cursor: pointer;
}

.txt-created-at {
  font-size: smaller;
}

@media screen and (orientation: landscape) {
  .dv-info {
    text-align: left;
    padding-left: 15%;
  }
}
.row {
  padding: 5%;
}
.row:hover {
  background: #f2defb;
}
</style>
