<template>
    <div class="dv-comment">
        <div class="dv-heading">
        </div>
        <p>
            <span class="spn-name">
                <slot name="user_name"></slot>
            </span>
            <span class="spn-comment">
                <slot name="created_at"></slot>
            </span>
        </p>
        <p>
            <slot name="comment_text"></slot>
        </p>
    </div>
</template>
<script>
export default {
    name:"VideoComment"
}
</script>
<style scoped>
.dv-comment{
    text-align:left;
    margin-top: 2%;
}
.spn-name{
    font-weight:bold;
}
.spn-comment{
    margin-left:2%;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
</style>