<template>
  <div class="dv-item" v-on:click="loadVideoDetail">
    <slot name="img"></slot>
    <div class="dv-info">
      <p>
        <slot name="title"></slot>
      </p>
      <p>
        <span class="spn-info"
          ><img
            class="video-info-icon"
            :src="getIconUrl('calendar.png')" /><slot name="date"></slot
        ></span>
        <span class="spn-info" v-if="videoData.content_duration"
          ><img class="video-info-icon" :src="getIconUrl('watch.png')" /><slot
            name="duration"
          ></slot
        ></span>
        <span class="spn-info"
          ><img class="video-info-icon" :src="getIconUrl('eye.png')" /><slot
            name="views"
          ></slot
        ></span>
        <span class="spn-info"
          ><img class="video-info-icon" :src="getIconUrl('device.png')" /><slot
            name="vendor"
          ></slot
        ></span>
      </p>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
Vue.prototype.$http = axios;
export default {
  name: "VideoList",
  props:{
      videoData:Object
  },
  methods: {
    getIconUrl(path) {
      return require("../../assets/images/icons/" + path);
    },
    loadVideoDetail(){
      Vue.prototype.$videoData = this.videoData;
      
      this.$router.push({ path: "/video/"+this.videoData.platform.toLowerCase(), query: { v: this.videoData.play_id} });
    }
  }
};
</script>
<style scoped>
.dv-item {
  width: 100%;
  margin-bottom: 1%;
  text-align: left;
  border: 2px dotted #be7add;
  padding: 2%;
  cursor: pointer;
}
.dv-item:hover{
  background: #fcf5ff;
}
.dv-info {
  margin-top: 4%;
  margin-left: 200px;
}
p {
  margin-left: 3%;
}
.spn-info {
  margin-right: 3%;
}
.video-info-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
</style>