<template>
  <div class="dv-searchs">
          <h5 class="heading-my-videos">Video Play History</h5>
          <Loader v-if="showLoader && !noVideos" />
          <p v-if="noVideos" class="noVideos">No Videos Found</p>
    <VideoLoaded
      v-for="video in videos"
      :key="video.video.id"
      v-bind:videoData="video.video"
      v-bind:vendorKey="video.platform"
      :cardWidth="cardWidth"
    >
      <template v-slot:img><img v-bind:src="video.video.thumbnail" /></template>
      <template v-slot:title>{{ video.video.title }}</template>
      <template v-slot:created-at>{{ video.video.added }}</template>
    </VideoLoaded>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
import config from "../../../configurations/config";
import VideoLoaded from "../../slots/VideoLoaded";
import Loader from '../../layouts/Loader';
Vue.prototype.$http = axios;
export default {
  name: "DashboardPlayHistory",
  data() {
    return {
      videos: [],
      loadedPage: 0,
      cardWidth: "20%",
      showLoader:true,
      noVideos:false
    };
  },
  mounted() {
    this.getMyPlayedVideos();
  },
  components: {
    VideoLoaded,
    Loader
  },
  methods: {
    async getMyPlayedVideos() {
        this.showLoader=true;
        this.noVideos=false;
      var auth_token = config.api.auth_token;
        if (
          this.$session.has("session_token") &&
          this.$session.get("session_token") != ""
        ) {
          auth_token = "Bearer " + this.$session.get("session_token");
        }

      await axios({
        method: "get",
        url: config.api.base_url + "/videos/user_viewed_videos",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
      }).then((response) => this.parseResponse(response));
    },
    parseResponse(response) {
      this.videos = response.data.data;
      if(this.videos.length > 0){
          this.showLoader=false;
          this.noVideos=false;
      }
      else{
          this.showLoader=true;
          this.noVideos=true;
      }
      console.log(this.videos, "play history videos");
    },
  },
};
</script>
<style scoped>
.dv-searchs{
    padding-left: 5%;
}
.heading-my-videos{
    color: #be7add;
    text-align: left;
}
.noVideos{
    background: #ead2f5;
    padding: 2%;
    width: 100%;
    font-weight:bold;
}
</style>