<template>
  <div class="dv-searchs">
      <h5 class="heading-my-videos">My Search History</h5>
      <table>
          <thead>
              <th width="50%" class="txt-left txt-head">
                  Search Keyword
              </th>
              <th width="25%" class="txt-left txt-head">
                  Date
              </th>
              <th width="25%" class="txt-left txt-head">
                  Time
              </th>
          </thead>
          <tbody>
              <tr v-for="query in queries" :key="query">
                  <td class="txt-left">
                      <img :src="getPlayIcon()" /> {{query.text}}
                  </td>
                  <td class="txt-left">
                      {{getDate(query.created_at)}}
                  </td>
                  <td class="txt-left">
                      {{getTime(query.created_at)}}
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
import moment from "moment";
import config from "../../../configurations/config";
Vue.prototype.$http = axios;

export default {
  name: "DashboardSearchHistory",
  data() {
    return {
      queries: [],
      loadedPage:0
    };
  },
  mounted() {
    this.getSearchedQueries();
  },
  methods: {
    getDate(date) {
      return moment(String(date)).format("DD-MM-YYYY");
    },
    getTime(time) {
      return moment(String(time)).format("hh:mm A");
    },
    getPlayIcon(){
        var path='play-green.png';
        return require("../../../assets/images/" + path);
    },
    async getSearchedQueries() {
      this.loadedPage=(this.loadedPage)+1;
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }
      await axios({
        method: "get",
        url:
          config.api.base_url +
          "/videos/get_searches?page_no=" +
          this.loadedPage,
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        }
      }).then((response) => this.parseQueries(response.data));
    },
    parseQueries(queries){
        console.log(queries.data);
        this.queries=queries.data;
    }
  },
};
</script>
<style scoped>
table{
    width: 100%;
    background: rgb(221 232 221);
    border-radius:5px;
    text-align:left;
}
.dv-searchs{
    padding-left: 5%;
}
.txt-left{
    padding-left: 2%;
}
.txt-head{
    padding-top:2%;
}
tr{
    border-top: 1px solid #ffffff;
}
td{
  font-size: smaller;
}
tr:hover{
    background: #cad8ca;
}
.heading-my-videos{
    color: #be7add;
    text-align: left;
}
.txt-left > img{
    width: 7%;
}
</style>