<template>
  <div class="row">
    <div class="col-lg-3">
      <div class="state-card bg-info text-white">
        <img
          src="https://yivster-dev0.nyc3.digitaloceanspaces.com/43c63b75130a00d738368ee97f258e33d74732d5a56d9610741a574ef7abfe2e.jpg"
        />
        <p>
          <span class="state-card-count">0</span>
          <br />
          <span class="card-heading">User Playlist</span>
        </p>
      </div>
    </div>
    <div class="col-lg-3">
        <div class="state-card bg-success text-white">
        <img
          src="https://yivster-dev0.nyc3.digitaloceanspaces.com/43c63b75130a00d738368ee97f258e33d74732d5a56d9610741a574ef7abfe2e.jpg"
        />
        <p>
          <span class="state-card-count">0</span>
          <br />
          <span class="card-heading">Total Videos</span>
        </p>
      </div>
    </div>
    <div class="col-lg-3">
        <div class="state-card bg-danger text-white">
        <img
          src="https://yivster-dev0.nyc3.digitaloceanspaces.com/43c63b75130a00d738368ee97f258e33d74732d5a56d9610741a574ef7abfe2e.jpg"
        />
        <p>
          <span class="state-card-count">0</span>
          <br />
          <span class="card-heading">Liked Videos</span>
        </p>
      </div>
    </div>
    <div class="col-lg-3">
        <div class="state-card bg-pink">
        <img
          src="https://yivster-dev0.nyc3.digitaloceanspaces.com/43c63b75130a00d738368ee97f258e33d74732d5a56d9610741a574ef7abfe2e.jpg"
        />
        <p>
          <span class="state-card-count">0</span>
          <br />
          <span class="card-heading">Disliked Videos</span>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "DashboardStates",
  data() {
    return {};
  },
  mounted(){},
  methods: {},
};
</script>
<style scoped>
.state-card {
  padding: 7%;
  border-radius: 10px;
}
.state-card > img {
  height: 70px;
  float: left;
}
.state-card > p {
  color: white;
}
.state-card-count {
  font-weight: bold;
  font-size: x-large;
}

.bg-pink{
    background: #be7add;
}
</style>