<template>
  <div class="row">
    <div class="col-lg-12 dv-my-videos">
        <div class="row row-headings">
            <div class="col-lg-6">
            <h5 class="heading-my-videos">My Videos</h5>
            </div>
            <div class="col-lg-6">
            <h5 class="heading-view-all">View All</h5>
            </div>
        </div>
      <VideoLoaded
        v-for="video in videos.slice(0, 5)"
        :key="video.id"
        :cardWidth="cardWidth"
        v-bind:videoData="video.id"
        v-bind:vendorKey="vendorKey"
      >
        <template v-slot:img><img v-bind:src="video.thumbnail" /></template>
        <template v-slot:title>{{ video.title }}</template>
        <template v-slot:created-at>{{ video.added }}</template>
      </VideoLoaded>
      <VideoNotFound v-if="noVideos" />
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
import VideoLoaded from "../../slots/VideoLoaded";
import config from '../../../configurations/config'
import VideoNotFound from '../../slots/VideoNotFound'
Vue.prototype.$http = axios;
export default {
  name: "DashboardMyVideos",
  data() {
    return {
      videos: [],
      loadedPage:0,
      cardWidth:'20%',
      vendorKey:"Yivster",
      noVideos:false
    };
  },
  mounted() {
    this.getMyVideos();
  },
  methods: {
    async getMyVideos() {
      this.loadedPage=(this.loadedPage)+1;
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }
      await axios({
        method: "get",
        url:
          config.api.base_url +
          "/platform_videos/read_my_videos?page_no=" +
          this.loadedPage,
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
      }).then((response) => this.parseVideos(response.data));
    },
    parseVideos(videos) {
        console.log(videos.data,'klk');
        this.videos = videos.data;
   
      if (this.videos.length == 0) {
        this.noVideos = true;
      } else {
        this.noVideos = false;
      }
    },
  },
  components: {
    VideoLoaded,
    VideoNotFound
  },
};
</script>
<style scoped>
.row{
    margin: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.heading-my-videos{
    color: #be7add;
    text-align: left;
}
.heading-view-all{
    color: #be7add;
    text-align: right;
}
.row-headings{
     margin: 0% !important; 
    padding-left: 0% !important;
    padding-right: 0% !important;

        background: #f1f1f1;
    padding: -10px;
    padding: 1% !important;
    margin: 1% !;
    margin-bottom: 1% !important;
}

.row-headings > .col-lg-6{
    padding: 0px !important;
}
img{
    border: 1px solid #d2caca;
}
.dv-my-videos{
padding: 1%;
    border: 1px dotted #be7add;
    margin-left: 0.5%;
}
</style>