<template>
    <div>
            <img :src="getImageUri()" />
            <h5 class="user-name-txt">
                {{userName}}
            </h5>
            <h6>
                {{emailAddress}}
            </h6>
            <div>
                <b-button variant="pink" class="btnpink">Edit Profile</b-button>
            </div>
            <div>
                <b-button variant="pink" to="/playlist" class="btnpink">Playlist</b-button>
            </div>
            
    </div>
</template>
<script>
export default {
    name:"DashboardProfile",
    data(){
        return {
            imageSrc:'user-profle.png',
            userName:"",
            emailAddress:""
        }
    },
    mounted(){
        this.userName=this.$session.get('session_first_name')+' '+this.$session.get('session_last_name');
        this.emailAddress=this.$session.get('session_user_email');
    },
    methods:{
        getImageUri(){
            return require('../../../assets/images/'+this.imageSrc);
        }
    }
}
</script>
<style scoped>
img{
    height: 6rem;
    border-radius: 50%;
}
.user-name-txt{
    color:#be7add;
}
.btnpink {
  background-color: #9352b3;
  color: white;
  padding: 7px 30px 7px 30px;
  border-radius: 27px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0.5%;
  width: 45%;
}
</style>