<template>
  <div class="dv-main">
    <div class="row">
      <div class="col-lg-9">
        <VideoPreview />
        <GuestVideoHeading>
          <template v-slot:heading> YIVSTER VIDEOS</template>
          <template v-slot:pagination></template>
        </GuestVideoHeading>
        <div v-if="videosCount > 0">
          <VideoLoaded
            v-for="video in videos.slice(0,4)"
            :key="video.id"
            v-bind:videoData="video"
            v-bind:vendorKey="vendor.key"
            :cardWidth="cardWidth"
          >
            <template v-slot:img><img v-bind:src="video.thumbnail" /></template>
            <template v-slot:title>{{ video.title }}</template>
            <template v-slot:created-at>{{ video.added }}</template>
          </VideoLoaded>
        </div>
        <Loader v-if="showLoaderYivster" />
        <div v-else>
          <VideoNotFound v-if="noYivsterVideos && !showLoaderYivster">
            <template>Yivster</template>
          </VideoNotFound>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="bg-heading">
          MOST SEARCHED <br />
          VIDEOS
        </div>
        <div class="dv-most-searched">
          <div class="dv-videos">
            <Loader v-if="showLoader" />
            <VideoMostSearched v-for="video in mostSearched" :title="video.title" :vendorKey="video.vendor_key" :key="video.id">
              <template v-slot:img><img :src="getIconUrl(video.vendor_icon)" /></template>
              <template v-slot:title>{{ video.title }}</template>
            </VideoMostSearched>
          </div>
          <hr />
          <h4>
            Take Yivster <br />
            <span class="txt-red">Everywhere</span>
          </h4>

          <b-button variant="pink" class="btn-download-app"
            >Download our app</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VideoPreview from "../../layouts/VideoPreview";
import VideoLoaded from "../../slots/VideoLoaded";
import VideoMostSearched from "../../slots/VideoMostSearched";
import GuestVideoHeading from "../../slots/GuestVideoHeading";
import VideoNotFound from "../../slots/VideoNotFound";
import confVendors from "../../../configurations/confVendors";
import Loader from '../../layouts/Loader'
export default {
  name: "HomeSectionOne",
  data() {
    return {
      videos: [],
      videosCount: 0,
      mostSearched: [],
      cardWidth: "25%",
      showLoader:true,
      vendor:{
        name:"Yivster",
        key:"Yivster"
      },
      noYivsterVideos:false,
      showLoaderYivster:true
    };
  },
  components: {
    VideoLoaded,
    VideoPreview,
    VideoMostSearched,
    GuestVideoHeading,
    VideoNotFound,
    Loader
  },
  mounted() {
    this.$root.$on("loadTrendingVideosAll", (data) => {
      this.guestLoadVideos(data);
    });
    this.$root.$on("loadTrendingVideos", (data) => {
      this.loadTrendingVideos(data);
    });
  },
  methods: {
    getIconUrl(path) {
      return require("../../../assets/images/vendors/icons/" + path);
    },
    guestLoadVideos(data) {
     //console.log(data);
     this.noYivsterVideos=false;
      var videosAll = data.data.data;
      var key = "Yivster";
      var videosArr = videosAll[key].videos;
      this.videos = videosArr;
      this.videosCount = videosArr.length;
      if(this.videosCount == 0){
        this.noYivsterVideos=true;
      }
      this.showLoaderYivster=false;
      //console.log(this.videosCount);
    },
    loadTrendingVideos(data) {
      this.showLoader=true;
      let videosAll = data.data.data;

      //console.log(confVendors.vendors[0]);
      var arrVendors = confVendors.vendors;
      for (let i = 0; i < arrVendors.length; i++) {
        var key = confVendors.vendors[i].key;
        var icon = confVendors.vendors[i].icon;

        var videosArr = videosAll[key].videos;
        if (videosArr.length > 0) {
          var mostSearchedVideo = {
            vendor_key: key,
            vendor_icon: icon,
            title: videosArr[0].title,
          };
          this.mostSearched.push(mostSearchedVideo);
        }
      }
      this.showLoader=false;
    },
  },
};
</script>

<style scoped>
.dv-videos {
  height: 286px;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden !important;
  /* "auto" or "thin" */
}

.dv-main {
  margin: 0% 8% 0% 8%;
}

hr:not([size]) {
  height: 8px;
  color: black;
}

.btn-download-app {
  background-color: #9352b3;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 27px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bg-heading {
  background-image: url("../../../assets/images/navbar-bg.jpg");
  border-radius: 0px;
  background: #b874d7;
  color: white;
  font-size: larger;
  padding: 3%;
}

.dv-most-searched {
  background: aliceblue;
}

.loaded-video-card {
  width: 25%;
  float: left;
  padding: 1%;
}

.loaded-video-card > img {
  width: 100%;
}

.txt-red {
  color: red;
}

/**span */
/*
 *  STYLE 4
 */

.dv-videos::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f2d5ff;
}

.dv-videos::-webkit-scrollbar {
  width: 5px;
  background-color: #f8f8f8;
}

.dv-videos::-webkit-scrollbar-thumb {
  background-color:  #9352b3;
  border: 1px solid #555555;
}
</style>
