<template>
<div class="dv-main">
    <div v-for="vendor in vendors" :key="vendor.id">
         <VendorLoadedVideos :vendorName="vendor.name" v-if="vendor.key != 'Yivster'" :vendorKey="vendor.key" />
    </div>
    <br />
</div>
</template>

<script>
import VendorLoadedVideos from '../guest/VendorLoadedVideos.vue'
import confVendors from '../../../configurations/confVendors'
export default {
    name: "HomeSectionTwo",
    data() {
        return {
            vendors: confVendors.vendors
        }
    },
    components: {
        VendorLoadedVideos
    }
}
</script>

<style scoped>
.dv-main {
    margin: 0% 8% 0% 8%;
}
</style>
