<template>
  <div v-if="videosCount > 0" class="dv-loaded-video">
    <GuestVideoHeading>
      <template v-slot:heading>
        {{ capitalizeString(vendorName) }} VIDEOS</template
      >
      <template v-slot:pagination></template>
    </GuestVideoHeading>
    <VideoLoaded v-for="video in videos.slice(0,5)" :key="video.id" :cardWidth="cardWidth" v-bind:videoData="video" v-bind:vendorKey="vendorKey">
      <template v-slot:img><img v-bind:src="video.thumbnail" /></template>
      <template v-slot:title>{{ video.title }}</template>
      <template v-slot:created-at>{{ video.added }}</template>
    </VideoLoaded>
  </div>
</template>

<script>
import VideoLoaded from "../../slots/VideoLoaded";
import GuestVideoHeading from "../../slots/GuestVideoHeading";

export default {
  name: "VendorLoadedVideos",
  props: {
    vendorName: String,
    vendorKey: String
  },
  data() {
    return {
      videos: [],
      videosCount:0,
      cardWidth: "20%",
    };
  },
  components: {
    VideoLoaded,
    GuestVideoHeading,
  },
  mounted() {
    this.$root.$on("loadTrendingVideosAll", (data) => {
      this.guestLoadVideos(data);
    });
  },
  methods: {
    capitalizeString(string) {
      return string.toUpperCase();
    },
    guestLoadVideos(data) {
      //console.log(this.vendorKey)
      var videosAll = data.data.data;
      var key=this.vendorKey;
      var videosArr=videosAll[key].videos;
      this.videos = videosArr;
      this.videosCount=videosArr.length;
      //console.log(this.videos,'hjjhj');
    },
  },
};
</script>

<style scoped>
</style>
