<template>
  <div class="page-contents">
    <HomeSectionOne />
    <HomeSectionTwo />
  </div>
</template>

<script>
import HomeSectionOne from "../sections/guest/HomeSectionOne";
import HomeSectionTwo from "../sections/guest/HomeSectionTwo";
import config from "../../configurations/config";
import axios from "axios";
import Vue from "vue";
Vue.prototype.$http = axios;
export default {
  components: {
    HomeSectionOne,
    HomeSectionTwo,
  },
  mounted() {
    this.$root.$emit("resetSelectedVendors");
    this.guestLoadVideos();
    this.getTrendingVideos();
  },
  methods: {
    guestLoadVideos() {
      try {
        var auth_token=config.api.auth_token;
        if((this.$session.has('session_token')) && (this.$session.get('session_token') != '')){
          auth_token='Bearer '+this.$session.get('session_token');
        }
        axios({
          method: "post",
          url: config.api.base_url + "/videos/get_videos",
          headers: {
            Authorization: auth_token,
            "Content-Type": " application/json",
          },
          data:{
            find_trending_videos:true
          }
        }).then((response) =>
          this.$root.$emit("loadTrendingVideosAll", {
            data: response.data,
          })
        );
      } catch (error) {
        console.log(error);
      }
    },
    getTrendingVideos() {
      try {
        var auth_token=config.api.auth_token;
        if((this.$session.has('session_token')) && (this.$session.get('session_token') != '')){
          auth_token='Bearer '+this.$session.get('session_token');
        }
        axios({
          method: "post",
          url: config.api.base_url + "/videos/get_videos",
          headers: {
            Authorization: auth_token,
            "Content-Type": " application/json",
          },
          data:{
              find_trending_videos:true
          }
        }).then((response) =>
          this.$root.$emit("loadTrendingVideos", {
            data: response.data,
          })
        //console.log(response,'trending')
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.page-contents {
  margin: 5%;
  margin-bottom:18%;
}
</style>
