<template>
  <div>
    <Authenticate>
        <MessageFailure v-if="friendlyErrorMessage != ''">{{
        friendlyErrorMessage
      }}</MessageFailure>
      <!-- email start -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="envelope"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="email"
          v-model="email"
          placeholder="Username / Email"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="email == '' && showErrors">Email</FieldRequired>
      <!-- password -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="key"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="password"
          v-model="password"
          placeholder="Password"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="password == '' && showErrors"
        >Password</FieldRequired
      >
      <!-- forgot password -->
      <br />
      <b-link class="link-grey mt-1" href="#foo" disabled
        >Forgot Paasword</b-link
      ><br />
      <!-- sign in -->
      <br />
      <b-button variant="pink" class="pink-btn" v-on:click="validateUser"
        >Sign in</b-button
      ><br />
      <!-- create account link -->
      <br />
      <p>
        Don't have an account?
        <b-link class="link-pink" to="/register">Sign Up</b-link>
      </p>
      <br />
      <br />
    </Authenticate>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import VueSession from 'vue-session'

import Authenticate from "../slots/Authenticate";
import FieldRequired from "../slots/form/FieldRequired";
import MessageFailure from "../slots/form/MessageFailure";
//import MessageSuccess from "../slots/form/MessageSuccess";
import config from "../../configurations/config";

Vue.use(VueSession);
//https://www.npmjs.com/package/vue-session
Vue.prototype.$http = axios;
export default {
  name: "LoginPage",
  data() {
    return {
      email: "",
      password: "",
      showErrors: false,
      friendlyErrorMessage:""
    };
  },
  components: {
    Authenticate,
    FieldRequired,
    MessageFailure
  },
  methods: {
    async validateUser() {
      this.friendlyErrorMessage='';
      this.showErrors = true;

      if (this.email != "" && this.password != "") {
        await axios({
          method: "post",
          url: config.api.base_url + "/auth/login",
          headers: {
            Authorization: config.api.auth_token,
            "Content-Type": " application/json",
          },
          data: {
            email: this.email,
            j3lly: this.password,
          },
        }).then((response) => this.getResponse(response));
      }
    },
    getResponse(response) {
      if (response.data.friendly_error_message != undefined) {
        this.friendlyErrorMessage = response.data.friendly_error_message;
      } else if (response.statusText == "OK") {
          let firstName=response.data.data.first_name;
          let lastName=response.data.data.last_name;
          let emailAddress=response.data.data.email;
          console.log(response.data.data);
          this.$session.start()
          this.$session.set('session_token', response.data.data.token);
          this.$session.set('session_user_id', response.data.data.id);
          this.$session.set('session_first_name', firstName);
          this.$session.set('session_last_name', lastName);
          this.$session.set('session_user_email', emailAddress);
          this.successMessage = "User login successfully";

          this.$root.$emit("triggerUserLogin");
          this.$root.$emit("toggleDashboardLink");
          this.$router.push({ path: "/dashboard"});
      }
    },
  },
};
</script>
<style scoped>
.input-group-lg {
  margin-top: 7% !important;
}
</style>
