<template>
  <div>
    <Authenticate>
      <MessageFailure v-if="friendlyErrorMessage != ''">{{
        friendlyErrorMessage
      }}</MessageFailure>
      <MessageSuccess v-if="successMessage != ''">{{
        successMessage
      }}</MessageSuccess>
      <!-- name start -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="person"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="text"
          v-model="firstName"
          placeholder="First Name"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="firstName == '' && showErrors"
        >First name</FieldRequired
      >
      <!-- user name start -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="person"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="text"
          v-model="lastName"
          placeholder="Last Name"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="lastName == '' && showErrors"
        >Last name</FieldRequired
      >
      <!-- email start -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="envelope"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="email"
          v-model="email"
          placeholder="Username / Email"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="email == '' && showErrors">Email</FieldRequired>
      <EmailValidation v-if="!validEmail && email != '' && showErrors">Email</EmailValidation>
      <!-- password -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="key"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="password"
          v-model="password"
          placeholder="Password"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="password == '' && showErrors"
        >Password</FieldRequired
      >
      <PasswordValidation v-if="passwordLengthValidation && showErrors"
        >Password field must be atleast 8 characters</PasswordValidation
      >
      <!-- password -->
      <b-input-group size="lg">
        <b-input-group-prepend is-text>
          <b-icon icon="key"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="password"
          v-model="confPassword"
          placeholder="Confirm Password"
        ></b-form-input>
      </b-input-group>
      <FieldRequired v-if="confPassword == '' && showErrors"
        >Confirm password</FieldRequired
      >
      <PasswordValidation v-if="passwordNotMatchValidation"
        >Password and confirm password must be same</PasswordValidation
      >
      <br />
      <br />
      <!-- forgot password -->
      <div>
        <p>
          By clicking signup button you agree to our
          <b-link class="link-grey mt-1" href="#foo" disabled
            >Privacy Policies</b-link
          >
        </p>
      </div>
      <!-- sign in -->
      <b-button variant="pink" class="pink-btn" v-on:click="saveUser"
        >Sign Up</b-button
      ><br />
    </Authenticate>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";

import Authenticate from "../slots/Authenticate";
import FieldRequired from "../slots/form/FieldRequired";
import EmailValidation from "../slots/form/EmailValidation";
import PasswordValidation from "../slots/form/PasswordValidation";
import MessageFailure from "../slots/form/MessageFailure";
import MessageSuccess from "../slots/form/MessageSuccess";
import config from "../../configurations/config";

Vue.prototype.$http = axios;
export default {
  name: "RegisterPage",
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      confPassword: "",
      showErrors: false,
      validData: false,
      friendlyErrorMessage: "",
      successMessage: "",
    };
  },
  components: {
    Authenticate,
    FieldRequired,
    EmailValidation,
    PasswordValidation,
    MessageFailure,
    MessageSuccess,
  },
  computed: {
    validEmail() {
      const re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(this.email).toLowerCase());
    },
    passwordLengthValidation() {
      if (this.password.length < 8 && this.password != "") {
        return true;
      }
      return false;
    },
    passwordNotMatchValidation() {
      if (this.password != this.confPassword && this.confPassword != "") {
        return true;
      }
      return false;
    },
  },
  methods: {
    async saveUser() {
      this.friendlyErrorMessage = "";
      this.successMessage = "";
      let first_name = this.firstName;
      let last_name = this.lastName;
      let email = this.email;
      let password = this.password;

      this.showErrors = true;

      this.validateSubmition();
      if (this.validData) {
        var auth_token=config.api.auth_token;
        if((this.$session.has('session_token')) && (this.$session.get('session_token') != '')){
          auth_token='Bearer '+this.$session.get('session_token');
        }
        await axios({
          method: "post",
          url: config.api.base_url + "/auth/register",
          headers: {
            Authorization: auth_token,
            "Content-Type": " application/json",
          },
          data: {
            first_name: first_name,
            last_name: last_name,
            email: email,
            j3lly: password,
          },
        }).then((response) => this.getResponse(response));
      }
    },
    validateSubmition() {
      if (
        this.firstName == "" ||
        this.lastName == "" ||
        this.email == "" ||
        this.password == "" ||
        this.confPassword == ""
      ) {
        this.validData = false;
        return true;
      }
      if (
        !this.validEmail ||
        this.passwordLengthValidation ||
        this.passwordNotMatchValidation
      ) {
        this.validData = false;
        return true;
      }
      this.validData = true;
      return true;
    },
    getResponse(response) {
      console.log(response.statusText);
      if (response.data.friendly_error_message != undefined) {
        this.friendlyErrorMessage = response.data.friendly_error_message;
      } else if (response.statusText == "OK") {
        this.successMessage="User created successfully";
      }
    },
  },
};
</script>

<style scoped>
.form-control:focus {
  color: #212529;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0px #be7add;
  background: #fcf4ff;
}
.input-group-lg {
  margin-top: 7% !important;
}
</style>
