<template>
  <div>
    <div class="dv-query-label" v-if="searchQuery != ''">
      Search results for <span class="spn-query">"{{ searchQuery }}"</span>
    </div>
    <div class="dv-query-label" v-else>
      <!-- All results from <span class="spn-query">"{{ vendorName }}"</span> -->
      Search results for <span class="spn-query">"{{ searchQuery }}"</span>
    </div>
    <Loader v-if="showLoader" />
    <div class="page-contents">
      <div class="row toped-row">
        <VideoList
          v-for="video in videos"
          :key="video.id"
          v-bind:videoData="video"
        >
          <template v-slot:img><img :src="video.thumbnail" /></template>
          <template v-slot:title> {{ video.title }}</template>
          <template v-slot:date>{{
            formateDate(video.published_date)
          }}</template>
          <template v-slot:duration>{{ video.content_duration }}</template>
          <template v-slot:views>{{ video.views?video.views:'0' }} views</template>
          <template v-slot:vendor>{{ video.platform }}</template>
        </VideoList>
        <h1 v-if="noVideos && !showLoader">No records found from {{ vendorName }}</h1>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
import config from "../../configurations/config";
import VideoList from "../slots/VideoList";
import moment from "moment";
import Loader from "../layouts/Loader"

Vue.prototype.$http = axios;
export default {
  name: "SearchVideos",
  data() {
    return {
      videos: [],
      vendorName: "",
      loadedVideos: 5,
      noVideos: false,
      searchQuery: "",
      sentRequest: false,
      showLoader:false,
      loadedPage:0
    };
  },
  components: {
    VideoList,
    Loader
  },
  mounted() {
    this.loadedPage=0;
    this.vendorName=this.$vendorName;
    this.sentRequest=false;
    this.$root.$on("loadVideosBasedOnVendor", () => {
      this.loadedPage=0;
      this.sentRequest=false;
      this.vendorName=this.$vendorName;
      this.searchLoadVideos();
      this.searchQuery = this.$inputSearched;
    });
    this.$root.$emit("setSelectedVendors",{
        data: this.vendorKey,
      });
  },
  created() {
    this.searchLoadVideos();
  },
  methods: {
    searchVideos() {
      Vue.prototype.$inputSearched = this.$inputSearched;
      this.$router.push({ path: "/search", query: { q: this.$inputSearched } });
      this.$root.$emit("loadVideosBasedOnVendor", {
        data: this.$vendorId,
      });
    },
    async searchLoadVideos() {
      Vue.prototype.$inputSearched=this.$route.query.q;

      var path=this.$route.path;
      var plateform=path.substring(path.lastIndexOf('/') + 1);
      var selectedKey = this.capitalizeFirstLetter(plateform);

      if (this.sentRequest == false) {
        this.videos=[];
        this.loadedPage=this.loadedPage+1;
        try {
          this.showLoader=true;
          this.sentRequest = true;
          if (this.$inputSearched != null && this.$inputSearched != "") {
            console.log(this.$inputSearched);
            this.searchQuery = this.$inputSearched;
            
            var auth_token=config.api.auth_token;
            if((this.$session.has('session_token')) && (this.$session.get('session_token') != '')){
              auth_token='Bearer '+this.$session.get('session_token');
            }
            await axios({
              method: "post",
              url: config.api.base_url + "/videos/get_platform_specific_videos?page_no="+this.loadedPage,
              headers: {
                Authorization: auth_token,
                "Content-Type": " application/json",
              },
              data: {
                query: this.$inputSearched,
                platform:selectedKey
              },
            }).then((response) => this.parseVideos(response.data));
           } 
           else{
             this.noVideos=true;
             this.showLoader=false;
           }
        } catch (error) {
          console.log(error);
        }
      }
    },
    parseVideos(videos) {
      var path=this.$route.path;
      var plateform=path.substring(path.lastIndexOf('/') + 1);
      var selectedKey = this.capitalizeFirstLetter(plateform);
      console.log(videos.data)
      if(videos.data == null || videos.data == 'null' || videos.data ==''){
        //console.log('dede');
        this.noVideos = true;
        this.showLoader=false;
        return false;
      }
      this.videos = videos.data.videos;
      this.vendorName = selectedKey;
      if (this.videos.length == 0) {
        this.noVideos = true;
      } else {
        this.noVideos = false;
      }
      this.showLoader=false;
    },
    formateDate(date) {
      return moment(String(date)).format("YYYY-MM-DD");
    },
    capitalizeFirstLetter(string) {
      if(string != '' && string != undefined){
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
      else{
        return '';
      }
      
    },
  },
};
</script>
<style scoped>
.dv-query-label {
  margin-top: 1%;
  color: #be7add;
  font-size: x-large;
}
.spn-query {
  color: black;
}
.page-contents {
  margin: 5%;
}
.page-contents > div.toped-row {
  margin-top: -3%;
}
img {
  height: 200px;
  width: 200px;
  float: left;
}
.row {
  margin: 5%;
}
h1 {
  color: red;
  background: #fcf5ff;
  padding: 2%;
}
</style>