<template>
  <div>
    <div class="row">
      <div class="col-lg-3">
        <DashboardProfile />
      </div>
      <div class="col-lg-9">
        <DashboardStates />
      </div>
    </div>
    <div class="row ml-9">
      <div class="col-lg-12 pd-0">
        <h5 class="txt-title">{{ title }}</h5>
        <Loader v-if="showLoader" />
        <p class="no-videos" v-if="noVideos">
          No videos found in the playlist
        </p>
        <PlaylistVideo 
          v-for="video in videos" 
          :key="video.id"
          v-bind:platform="video.platform"
          v-bind:id="video.video_id"
        >
          <template v-slot:thumbnail>
            <img class="img-thumbnail" :src="video.video.thumbnail" />
          </template>
          <template v-slot:title>
            {{ video.video.title }}
          </template>
          <template v-slot:datetime>
            {{ getDate(video.created_at) }} | {{ getTime(video.created_at) }}
          </template>
          <template v-slot:icondelete>
            <img
              v-bind:data-id="video.id"
              v-on:click="removeVideoFromPlaylist"
              class="img-delete"
              :src="getImgUrl()"
            />
          </template>
        </PlaylistVideo>
      </div>
    </div>
    <div class="dv-bottom"></div>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
import moment from "moment";
import DashboardProfile from "../sections/user/DashboardProfile";
import DashboardStates from "../sections/user/DashboardStates";
import PlaylistVideo from "../slots/user/PlaylistVideo";
import config from "../../configurations/config";
import Loader from "../layouts/Loader";
Vue.prototype.$http = axios;
export default {
  name: "UserPlaylistDetail",
  data() {
    return {
      title: "",
      videos: [],
      deleted:false,
      noVideos:false,
      showLoader:true
    };
  },
  mounted() {
    this.getPlaylistVideos();
    this.getPlaylistById();
  },
  components: {
    DashboardProfile,
    DashboardStates,
    PlaylistVideo,
    Loader
  },
  methods: {
    getDate(date) {
      return moment(String(date)).format("YYYY-MM-DD");
    },
    getTime(time) {
      return moment(String(time)).format("h:m:s a");
    },
    async removeVideoFromPlaylist() {
      var videoId = event.target.getAttribute("data-id");
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      await axios({
        method: "post",
        url: config.api.base_url + "/playlists/delete_video",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          id: videoId,
        },
      }).then((response) => this.parseResponseDeleted(response));
    },
    parseResponseDeleted(response){
        console.log(response);
        this.$root.$emit('flashMessage',{
            status:'success',
            title:"Deleted",
            message:"Video deleted from playlist successfully"
        });
        this.getPlaylistVideos();
        //this.deleted=true;
    },
    async getPlaylistById() {
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      await axios({
        method: "post",
        url: config.api.base_url + "/playlists/get_playlist",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          id: this.$route.params.id,
        },
      }).then((response) => this.parseResponseSingle(response));
    },
    parseResponseSingle(response) {
      console.log(response);
      this.title = response.data.data.title;
    },
    getImgUrl() {
      return require("../../assets/images/icons/trash.png");
    },
    async getPlaylistVideos() {
      //console.log();
      /**
       * auth token
       */
      this.noVideos=false;
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      await axios({
        method: "post",
        url: config.api.base_url + "/playlists/read_videos",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          playlist_id: this.$route.params.id,
        },
      }).then((response) => this.parseResponse(response));
    },
    parseResponse(response) {
      this.videos = response.data.data;
      if(this.videos.length > 0){
        this.noVideos=false;
        this.showLoader=false;
      }
      else{
        this.noVideos=true;
        this.showLoader=false;
      }
      console.log(this.videos,'playlist videos');
      console.log(response, "playlist videos");
    },
  },
};
</script>
<style scoped>
.row {
  margin: 2%;
}
.txt-title {
  text-align: left;
  color: #be7add;
}
.ml-9 {
  margin-left: 9%;
}
/* .img-thumbnail{
    width: 100%;
} */
.dv-bottom {
  margin-bottom: 10% !important;
}
.img-thumbnail[data-v-59a5f149] {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 10rem;
  width: 15rem;
}
.img-delete {
  height: 15% !important;
}
.no-videos{
    font-weight: bold;
    background: #f6edfb;
    padding: 1%;
    margin-right: 2%;
}
.pd-0{
  padding: 0px !important;
}
</style>