<template>
  <div>
    <div class="row">
      <div class="col-lg-3">
        <DashboardProfile />
      </div>
      <div class="col-lg-9">
        <DashboardStates />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="dv-heading">
          <div>
            <span class="spn-heading">My Playlists</span>

            <span class="spn-playlist" v-on:click="show"
              ><img class="video-info-icon" :src="getIconUrl('add-pink.png')" />
              Add new playlist</span
            >
          </div>
        </div>
        <div class="dv-list">
          <Loader v-if="showLoader" />
          <div class="no-playlists" v-if="noPlaylist">
            <p class="txt-no-playlist">No playlists found</p>
          </div>
          <div class="user-playlists">
            <div class="row">
              <!-- <div class="col-md-3"> -->
                <UserPlaylist
                 v-for="list in userPlaylists" 
                 :key="list.id"
                 v-bind:playListId="list.id"
                 v-bind:playListTitle="list.title"
                 v-bind:playListDescription="list.description"
                 >
                  <template v-slot:videosCount>{{list.videos_count}}</template>
                  <template v-slot:playListTitle>{{list.title}}</template>
                  <template v-slot:createdAt>{{uploadedBefor(list.updated_at?list.updated_at:list.created_at)}}</template>
                </UserPlaylist>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal name="add-playlist-modal" :height="auto">
      <h5 class="modal-title">Add Playlist</h5>
      <div class="row dv-heading">
        <div class="col-lg-12">
          <label>Title</label>
          <input type="text" v-model="playlist.title" class="form-control" />
          <p class="txt-validation" v-if="validation.title && playlist.title == ''">Title field is required</p>
          <label>Description</label>
          <input
            type="text"
            v-model="playlist.description"
            class="form-control"
          />
          <p class="txt-validation" v-if="validation.title && playlist.description == ''">Description field is required</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <b-button variant="pink" v-on:click="submitPlaylist" class="dropbtn"
            >Save</b-button
          >
          <b-button variant="pink" v-on:click="hide" class="dropbtn"
            >Close</b-button
          >
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import DashboardProfile from "../sections/user/DashboardProfile";
import DashboardStates from "../sections/user/DashboardStates";
import config from "../../configurations/config";
import Loader from '../layouts/Loader';
import UserPlaylist from '../slots/user/UserPlaylist'
import VModal from "vue-js-modal";
import moment from "moment";

Vue.use(VModal);

require('vue-flash-message/dist/vue-flash-message.min.css');
export default {
  name: "UserPlayList",
  data() {
    return {
      playlist: {
        title: "",
        description: "",
      },
      validation:{
        title:false,
        description:false
      },
      showErrors:false,
      auto:"auto",
      showLoader:true,
      noPlaylist:false,
      userPlaylists:[]
    };
  },
  mounted(){
    if(!this.$session.has('session_token')){
      this.$router.push({ path: "/login" });
    }
    this.getPlaylists();
    this.$root.$on("getPlayLists", () => {
      this.getPlaylists();
    })
  },
  components: {
    DashboardProfile,
    DashboardStates,
    Loader,
    UserPlaylist
  },
  methods: {
    getIconUrl(path) {
      return require("../../assets/images/icons/" + path);
    },
    show() {
      this.playlist.title='';
      this.playlist.description='';
      this.$modal.show("add-playlist-modal");
    },
    hide() {
      this.$modal.hide("add-playlist-modal");
    },
    uploadedBefor(updated_at) {
      //console.log(updated_at);
      let today = new Date();
      let published_date = new Date(updated_at);
      let a = moment(today, "M/D/YYYY");
      let b = moment(published_date, "M/D/YYYY");

      var years = a.diff(b, "year");
      b.add(years, "years");
      var months = a.diff(b, "months");
      b.add(months, "months");
      var days = a.diff(b, "days");

      let result = "";
      if (years > 0) {
        result += years + " Years,";
      }
      if (months > 0) {
        result += months + " Months,";
      }
      if (days > 0) {
        result += days + " Days";
      } else {
        result += "0 Days";
      }

      result += " Ago";

      if(result == '0 Days Ago'){
        result = 'Today'
      }
      result = 'Updated '+result;
      return result;
    },
    async getPlaylists(){
      this.userPlaylists=[];
      this.showLoader=true;
      /**
       * auth token
       */
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      /**
       * load list from api
       */
      await axios({
        method: "get",
        url:
          config.api.base_url +
          "/playlists/get_user_playlists",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
      }).then((response) => this.parsePlaylists(response));
    },
    parsePlaylists(response){
      console.log(response.data.data,'User Playlists');
      if(response.data.data.length > 0){
        this.noPlaylist=false;
        this.userPlaylists=response.data.data;
      }
      else{
        this.noPlaylist=true;
      }
      this.showLoader=false;
    },
    async submitPlaylist() {
        this.showErrors=false;
        this.validation.title=true;
        this.validation.description=true;
      if (this.playlist.title == "") {
          this.showErrors=true;
        return false;
      }
      if (this.playlist.description == "") {
          this.showErrors=true;
        return false;
      }

      /**
       * auth token
       */
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      await axios({
        method: "post",
        url:
          config.api.base_url +
          "/playlists/add_playlist",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data:{
          title:this.playlist.title,
          description:this.playlist.description
        }
      }).then((response) => this.parseResponse(response));
    },
    parseResponse(response){
      console.log(response);
      this.$root.$emit('flashMessage',{
        status:'success',
        title:"Added",
        message:"Playlist added successfully"
      });
      this.getPlaylists();
      this.hide();
    }
  },
};
</script>
<style scoped>
.txt-validation {
  color: red;
}
.row {
  margin: 2%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.margin-bottom {
  margin-bottom: 20%;
}
.dv-heading {
  text-align: left;
  padding-left:7%;
}
.dv-50 {
  width: 50%;
}
.spn-playlist {
  margin-left: 2%;
}
.spn-heading {
  color: #be7add;
  font-size: larger;
  font-weight: bold;
}
.modal-title {
  padding: 2%;
}
.dropbtn {
  background-color: #9352b3;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 27px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.btn-pink {
  margin: 1%;
}
.vm--modal{
  height: auto !important;
}
.txt-no-playlist{
    background: #f5e0ff;
    padding: 1%;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-right: 4%;
}
.txt-left {
  text-align: left !important;
}
</style>