<template>
    <div>
        <div class="row">
            <div class="col-lg-3">
                <DashboardProfile />
            </div>
            <div class="col-lg-9">
                <DashboardStates />
            </div>
        </div>
        <div>
            <DashboardMyVideos />
        </div>
        <div class="row">
            <div class="col-lg-6">
                <DashboardSearchHistory />
            </div>
            <div class="col-lg-6 pr-2">
                <DashboardPlayHistory />
            </div>
        </div>
        <div class="margin-bottom"></div>
    </div>
</template>
<script>
import DashboardProfile from "../sections/user/DashboardProfile"
import DashboardStates from "../sections/user/DashboardStates"
import DashboardMyVideos from "../sections/user/DashboardMyVideos"
import DashboardSearchHistory from "../sections/user/DashboardSeachHistory"
import DashboardPlayHistory from "../sections/user/DashboardPlayHistory"
export default {
    name:"UserDashboard",
    components:{
        DashboardProfile,
        DashboardStates,
        DashboardMyVideos,
        DashboardSearchHistory,
        DashboardPlayHistory
    },
    mounted(){
        if(!this.$session.has('session_token')){
            this.$router.push({ path: "/login" });
        }
    }
}
</script>
<style scoped>
.row{
    margin: 2%;
    margin-top: 2% !important;
}
.margin-bottom{
    margin-bottom: 20%;
}
.pr-2{
    padding-right: 2%;
}
</style>