<template>
  <div>
    <div class="row row-margin">
      <div class="col-lg-9">
        <div id="iframe-wrapper" :style="iframe.wrapperStyle">
          <iframe
            :src="iframe.src"
            frameborder="0"
            width="100%"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen"
            msallowfullscreen="msallowfullscreen"
            oallowfullscreen="oallowfullscreen"
            webkitallowfullscreen="webkitallowfullscreen"
          ></iframe>
          <h4>{{ videoData.title }}</h4>
          <div class="dv-states">
            <span class="spn-info"
              ><img class="video-info-icon" :src="getIconUrl('calendar.png')" />
              <slot name="date">{{
                formateDate(videoData.published_date)
              }}</slot>
            </span>
            <span v-if="videoData.content_duration" class="spn-info"
              ><img class="video-info-icon" :src="getIconUrl('watch.png')" />
              <slot name="duration">{{ videoData.content_duration }}</slot>
            </span>
            <span v-if="videoData.views" class="spn-info"
              ><img class="video-info-icon" :src="getIconUrl('eye.png')" />
              <slot name="views">{{ videoData.views }}</slot>
            </span>
            <span class="spn-info"
              ><img class="video-info-icon" :src="getIconUrl('device.png')" />
              <slot name="vendor">{{ videoData.platform }}</slot>
            </span>
          </div>
          <div class="dv-share">
            <span v-on:click="shareVideo" class="spn-share"
              >Share
              <img class="video-info-icon" :src="getIconUrl('share-pink.png')"
            /></span>
            <span class="spn-playlist" v-on:click="show"
              ><img class="video-info-icon" :src="getIconUrl('add-pink.png')" />
              Add to playlist</span
            >
          </div>
          <div class="dv-comments d-none">
            <div class="dv-comments-heading">
              <h5>{{ commentsCount }} Comments</h5>
            </div>
            <VideoComment v-for="comment in videoComments" :key="comment.id">
              <template v-slot:user_name
                >{{ comment.user.first_name }}
                {{ comment.user.last_name }}</template
              >
              <template v-slot:created_at>{{
                craetedAt(comment.created_at)
              }}</template>
              <template v-slot:comment_text>{{ comment.text }}</template>
            </VideoComment>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Suggested Videos</h4>
        <div v-if="noVideos" class="dv-no-videos">
          <h4>No relevent videos found</h4>
        </div>
        <div class="">
          <Loader v-if="showLoader" />
          <VideoSuggested
            v-for="video in suggestedVideos"
            :key="video.id"
            v-bind:videoData="video"
            v-bind:vendorId="vendorId"
          >
            <template v-slot:img><img :src="video.thumbnail" /></template>
            <template v-slot:title>{{ video.title }}</template>
            <template v-slot:subtitle>none</template>
            <template v-slot:views>{{ video.views }} Views</template>
            <template v-slot:uploaded_at>{{ uploadedBefor }}</template>
          </VideoSuggested>
          <div class="dv-bottom"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <modal name="playlist-modal" :height="auto" :width="200">
        <div v-if="userPlaylists != '' ">
        <h5 class="modal-title m-1">Save to...</h5>
        <div class="row m-1 ml-1">
          <div class="col-lg-12">
            <b-form-checkbox
              v-for="playlist in userPlaylists"
              :key="playlist.id"
              name="user-playlists"
              :value="playlist.id"
              v-model="checkedPlaylist"
              class="input-check"
            >
              <span class="custom-control-label-pl">{{ playlist.title }}</span>
            </b-form-checkbox>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-lg-12">
            <b-button
              variant="pink"
              v-on:click="submitToPlaylist"
              class="pink-btn"
              >Save</b-button
            >
            <b-button variant="pink" v-on:click="hide" class="pink-btn"
              >Close</b-button
            >
          </div>
        </div>
        </div>
        <div v-else>
          <h5 class="modal-title m-1">No playlists found</h5>
          <p>Please create some playlist first</p>
        </div>
      </modal>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import config from "../../configurations/config";
import moment from "moment";
import VideoSuggested from "../slots/VideoSuggested";
import VideoComment from "../slots/VideoComment";
import Loader from "../layouts/Loader";
import VModal from "vue-js-modal";

Vue.prototype.$http = axios;
Vue.use(VModal);
export default {
  name: "VideoDetail",
  data() {
    return {
      loaded: false,
      iframe: {
        src: "",
        style: null,
        wrapperStyle: null,
      },
      videoData: {},
      videoComments: [],
      commentsCount: 0,
      suggestedVideos: [],
      noVideos: false,
      vendorId: "",
      plateform: "",
      showLoader: true,
      auto: "auto",
      userPlaylists: [],
      checkedPlaylist: [],
    };
  },
  components: {
    VideoSuggested,
    VideoComment,
    Loader,
  },
  computed: {
    uploadedBefor: function () {
      let today = new Date();
      let published_date = new Date(this.videoData.published_date);
      let a = moment(today, "M/D/YYYY");
      let b = moment(published_date, "M/D/YYYY");

      var years = a.diff(b, "year");
      b.add(years, "years");
      var months = a.diff(b, "months");
      b.add(months, "months");
      var days = a.diff(b, "days");

      let result = "";
      if (years > 0) {
        result += years + " Years,";
      }
      if (months > 0) {
        result += months + " Months,";
      }
      if (days > 0) {
        result += days + " Days";
      } else {
        result += "0 Days";
      }

      result += " Ago";
      return result;
    },
  },
  mounted() {
    this.getVideoDetails();
    this.getPlaylists();

    this.$root.$on("loadVideosBasedOnQuery", () => {
      this.getVideoDetails();
    });

    this.$root.$emit("setSelectedVendors", {
      data: this.vendorKey,
    });
  },
  methods: {
    show() {
      if (
        !this.$session.has("session_token") ||
        this.$session.get("session_token") == ""
      ) {
        this.$root.$emit('flashMessage',{
          status:'warning',
          title:"Access denied",
          message:"Please login to add videos to playlist"
        });
        this.$router.push({ path: "/login" });
        return false;
      }
      this.checkedPlaylist=[];
      this.$modal.show("playlist-modal");
    },
    hide() {
      this.$modal.hide("playlist-modal");
    },
    async submitToPlaylist() {
      console.log(this.checkedPlaylist);
      var countSelectedPlaylists=this.checkedPlaylist.length;
      //this.plateform = this.capitalizeFirstLetter(this.$route.params.plateform);
      /**
       * auth token
       */
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }
      for(let i=0;i<countSelectedPlaylists;i++){
        await axios({
          method: "post",
          url: config.api.base_url + "/playlists/add_video",
          headers: {
            Authorization: auth_token,
            "Content-Type": " application/json",
          },
          data: {
            playlist_id: this.checkedPlaylist[i],
            video_id:this.$route.query.v,
            platform:this.plateform,
            video_title:this.videoData.title
          },
        });
      }
      this.hide();
      this.$root.$emit('flashMessage',{
        status:'success',
        title:"Added",
        message:"Video added to playlist successfully"
      });
    },
    craetedAt(created_at) {
      let today = new Date();
      let published_date = new Date(created_at);
      let a = moment(today, "M/D/YYYY");
      let b = moment(published_date, "M/D/YYYY");

      var years = a.diff(b, "year");
      b.add(years, "years");
      var months = a.diff(b, "months");
      b.add(months, "months");
      var days = a.diff(b, "days");

      let result = "";
      if (years > 0) {
        result += years + " years,";
      }
      if (months > 0) {
        result += months + " months,";
      }
      if (days > 0) {
        result += days + " days";
      } else {
        result += "0 days";
      }

      result += " ago";
      return result;
    },
    redirectToHome() {
      if (this.videoData == "" || this.videoData == undefined) {
        this.$router.push({ path: "/" });
      }
    },
    getIconUrl(path) {
      return require("../../assets/images/icons/" + path);
    },
    formateDate(date) {
      return moment(String(date)).format("YYYY-MM-DD");
    },
    async loadSuggestedVideos() {
      this.showLoader = true;
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }
      await axios({
        method: "post",
        url: config.api.base_url + "/videos/get_videos",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          query: this.videoData.title,
        },
      }).then((response) => this.parseVideos(response.data));
    },
    async getVideoDetails() {
      console.log(this.$route.query.v);
      this.plateform = this.capitalizeFirstLetter(this.$route.params.plateform);
      console.log(this.plateform);
      this.vendorId = this.plateform;

      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }
      await axios({
        method: "post",
        url: config.api.base_url + "/videos/get_info",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          video_id: this.$route.query.v,
          platform: this.plateform,
        },
      }).then((response) => this.parseVideoData(response.data));
    },
    async getVideoComments() {
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }
      await axios({
        method: "post",
        url: config.api.base_url + "/videos/get_comments",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          video_id: this.$route.query.v,
        },
      }).then((response) => this.parseVideoComments(response.data));
    },
    parseVideoData(data) {
      this.videoData = data.data.video;
      this.iframe.src = this.videoData.embed_link;
      this.getVideoComments();
      this.loadSuggestedVideos();
      this.showLoader = false;
    },
    parseVideoComments(data) {
      this.videoComments = data.data;
      this.commentsCount = data.data.length;
      console.log(data);
    },
    parseVideos(videos) {
      this.suggestedVideos = videos.data[this.vendorId].videos;
      var filteredSuggested = [];
      for (let i = 0; i < this.suggestedVideos.length; i++) {
        if (this.suggestedVideos[i].embed_link == this.videoData.embed_link) {
          continue;
        }
        filteredSuggested.push(this.suggestedVideos[i]);
      }
      this.suggestedVideos = filteredSuggested;
      this.vendorName = this.$vendorName;
      if (this.suggestedVideos.length == 0) {
        this.noVideos = true;
      } else {
        this.noVideos = false;
      }
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    shareVideo(){
      var uri=window.location.href;
      navigator.clipboard.writeText(uri);
       this.$root.$emit('flashMessage',{
            status:'info',
            title:"Copied",
            message:"Video link copied to clipboard"
        });
    },
    addToPlayList() {},
    async getPlaylists() {
      this.userPlaylists = [];
      this.showLoader = true;
      /**
       * auth token
       */
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      /**
       * load list from api
       */
      await axios({
        method: "get",
        url: config.api.base_url + "/playlists/get_user_playlists",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
      }).then((response) => this.parsePlaylists(response));
    },
    parsePlaylists(response) {
      console.log(response.data.data, "User Playlists");
      if (response.data.data.length > 0) {
        this.noPlaylist = false;
        this.userPlaylists = response.data.data;
      } else {
        this.noPlaylist = true;
      }
      this.showLoader = false;
    },
  },
};
</script>

<style scoped>
.dv-comments-heading {
  text-align: left;
  margin-top: 2%;
}
#iframe-wrapper {
  width: 100%;
  min-height: 27rem;
}

#iframe-wrapper > iframe {
  height: 28rem;
  width: 100%;
}

.row-margin {
  margin: 5%;
}

h4 {
  text-align: left;
  color: #be7add;
}

.spn-info {
  margin-right: 3%;
}

.video-info-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.dv-states {
  text-align: left !important;
}
@media screen and (orientation: landscape) {
  .dv-suggested {
    max-height: 410px;
    overflow-y: scroll;
  }
}
@media screen and (orientation: portrait) {
  .dv-bottom {
    margin-bottom: 18%;
  }
}
.dv-suggested::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5eafa;
}

.dv-suggested::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

.dv-suggested::-webkit-scrollbar-thumb {
  background-color: #9352b3;
  border: 1px solid #555555;
}
.dv-share {
  text-align: left;
  margin-top: 2%;
}
.spn-playlist {
  margin-left: 6%;
  cursor: pointer;
}
.dv-no-videos {
  background: #eee0f5;
  color: #4a4a4a;
  padding: 2%;
}
.pink-btn {
  background-color: #9352b3;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 27px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  margin: 5%;
}
.m-1 {
  margin: 2% !important;
}
.spn-share{
  cursor: pointer;
}
.custom-control-label-pl{
  padding-left:10px !important;
}
.ml-1{
  text-align: left;
margin-left: 16% !important;
}
</style>
