<template>
  <div>
    <div class="row mt5">
      <!-- <div class="col-lg-8">
        <video width="320" height="240" controls>
          <source src="movie.mp4" type="video/mp4" />
        </video>
      </div> -->
      <div class="col-lg-4 col-file-upload">
        <div class="droptarget" 
            v-on:drop="drop" 
            v-on:dragover="allowDrop"
            :style="[validation.videoUpload?{border:'2px solid red'}:{}]"
            >
          <p class="txt-drop-title">Video File</p>
          <img :src="getVideoUrl()" />
          <p class="p-dropzone">Drag and drop to upload or</p>
        </div>
        <input id="videoFile" v-on:change="setVideoTitle" type="file" hidden />

        <p class="txt-video-title" v-if="videoTitle">{{ videoTitle }}</p>
        <div>
          <p v-if="value == max && friendlyErrorMessage == ''" class="uploaded-success">
            File uploaded successfully
          </p>
        </div>
        <b-button
          variant="pink"
          data="video"
          v-on:click="chooseVideoFiles"
          class="btnpink"
          >Choose Video</b-button
        >
      </div>
      <div class="col-lg-4 col-file-upload">
        <div
          class="droptarget"
          v-on:drop="dropImage"
          v-on:dragover="allowDropImage"
          :style="[validation.imageUpload?{border:'2px solid red'}:{}]"
        >
          <p class="txt-drop-title">Thumbnail</p>
          <img :src="getImgUrl()" />
          <p class="p-dropzone">Drag and drop to upload or</p>
        </div>
        <input id="imageFile" v-on:change="setImageTitle" type="file" hidden />

        <p class="txt-video-title" v-if="imageTitle">{{ imageTitle }}</p>
        <div>
          <p v-if="value == max && friendlyErrorMessage == ''" class="uploaded-success">
            File uploaded successfully
          </p>
        </div>
        <b-button
          variant="pink"
          data="image"
          v-on:click="chooseImageFiles"
          class="btnpink"
          >Choose Image</b-button
        >
      </div>
      <div class="col-lg-4">
        <ul>
          <li v-bind:style="[validation.videoSize ? { color: 'red' } : '']">
            Video File size must be under 400MB
          </li>
          <li v-bind:style="[validation.videoType ? { color: 'red' } : '']">
            Video File size must be of type MP4
          </li>
          <li v-bind:style="[validation.imageSize ? { color: 'red' } : '']">
            Image File size must be under 1MB
          </li>
        </ul>
        <b-progress
          :value="value"
          :max="max"
          show-progress
          animated
          v-if="value != max && value != 0"
        ></b-progress>
        <div class="response">
        <MessageFailure v-if="friendlyErrorMessage != ''">{{
        friendlyErrorMessage
      }}</MessageFailure>
        </div>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-lg-12">
        <div class="form-row">
          <label>Video Title</label>
          <input type="text" v-model="uploadTitle" class="form-control" />
          <p class="txt-validation" v-if="validation.videoTitle">
            Video title field is required
          </p>
        </div>

        <div class="form-row">
          <label>Video Tags</label>
          <input type="text" v-model="uploadTag" v-on:keyup="setVideoTag" class="form-control" />
          <p class="txt-validation" v-if="validation.videoTag">
            Video tags field is required
          </p>
        </div>

        <div class="form-row">
          <label>Video Description</label>
          <textarea
            class="form-control"
            v-model="uploadDescription"
            rows="5"
          ></textarea>
          <p class="txt-validation" v-if="validation.videoDescription">
            Video description field is required
          </p>
        </div>
        <div class="form-row-btn">
          <b-button variant="pink" class="btnpink" v-on:click="uploadVideo"
            >Upload</b-button
          >
          <b-button variant="pink" to="/videos/upload" class="btnpink"
            >Cancel</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Vue from "vue";
import MessageFailure from "../slots/form/MessageFailure";
import config from "../../configurations/config";
Vue.prototype.$http = axios;

export default {
  name: "VideoUpload",
  data() {
    return {
      videoFile: "",
      videoTitle: "",
      videoFileSizeMBS: 0,
      imageFile: "",
      imageTitle: "",
      imageFileSizeMBS: 0,
      value: 0,
      max: 100,
      progressInterval: 1,
      pollingInterval: 1,
      polling: null,
      uploadingFile: false,
      uploadTitle: "",
      uploadDescription: "",
      friendlyErrorMessage:"",
      uploadTag: "",
      validation: {
        videoSize: false,
        videoType: false,
        imageSize: false,
        validationFailure: false,
        videoTitle: false,
        videoTag: false,
        videoDescription: false,
        videoUpload:false,
        imageUpload:false
      },
    };
  },
  components:{
    MessageFailure
  },
  mounted(){
      if(!this.$session.has('session_token')){
        this.$root.$emit('flashMessage',{
          status:'warning',
          title:"Access denied",
          message:"Please login to upload videos"
        });
        this.$router.push({ path: "/login" });
      }
  }, 
  methods: {
    setVideoTag(){
      console.log(this.uploadTag);
        var str = this.uploadTag;
  
        str = str.replace(/[-!$%^&*()_+|~=`{}[]:";'<>?,.@#£\/]/g, '');
        var tagged = str.replace(/#/g, '').replace(/([^" "]+)/g, '#'+'$1');
        this.uploadTag = tagged;
    },
    getImgUrl() {
      let path = "image-folder.png";
      return require("../../assets/images/" + path);
    },
    getVideoUrl() {
      let path = "video-folder.png";
      return require("../../assets/images/" + path);
    },
    dragStart: function (event) {
      event.dataTransfer.setData("Text", event.target.id);
    },
    dragging: function (event) {
      console.log(event);
    },
    allowDrop: function (event) {
      event.preventDefault();
    },
    allowDropImage: function (event) {
      event.preventDefault();
    },
    drop: function (event) {
      event.preventDefault();
      document.getElementById("videoFile").files = event.dataTransfer.files;
      this.videoTitle = event.dataTransfer.files[0].name;
    },
    dropImage: function (event) {
      event.preventDefault();
      document.getElementById("imageFile").files = event.dataTransfer.files;
      this.imageTitle = event.dataTransfer.files[0].name;
    },
    chooseImageFiles() {
      document.getElementById("imageFile").click();
    },
    chooseVideoFiles() {
      document.getElementById("videoFile").click();
    },
    setVideoTitle() {
      var videoFile = document.getElementById("videoFile").files[0];
      this.videoTitle = videoFile.name;
    },
    setImageTitle() {
      var imageFile = document.getElementById("imageFile").files[0];
      this.imageTitle = imageFile.name;
    },
    async uploadVideo() {
        this.validation.validationFailure = false;
        this.validation.videoUpload=false;
        this.validation.imageUpload=false;
      /**
       * video file
       */
      var videoFile = document.getElementById("videoFile").files[0];
      if(document.getElementById("videoFile").value == ""){
          this.validation.videoUpload=true;
          return false;
      }
      else{
          this.videoFile = videoFile;
          this.videoTitle = videoFile.name;
          this.videoFileSizeMBS = (videoFile.size / (1024 * 1024)).toFixed(2);
      }
      
      /**
       * image file
       */
      var imageFile = document.getElementById("imageFile").files[0];
      if(document.getElementById("imageFile").value == ""){
          this.validation.imageUpload=true;
          return false;
      }
      else{
            this.imageFile=imageFile;
            this.imageTitle = imageFile.name;
            this.imageFileSizeMBS = (imageFile.size / (1024 * 1024)).toFixed(2);
      }

      this.checkValidations();
      if (this.validation.validationFailure) {
          this.validation.imageUpload=true;
        return false;
      } else {
        console.log(this.$session.get('session_token'));
        this.uploadingFile = true;
        this.value = 1;
        console.log("request sent");
        let formData = new FormData();
        formData.append("video", videoFile);
        formData.append("thumbnail", imageFile);
        formData.append("title", this.uploadTitle);
        formData.append("description", this.uploadDescription);
        formData.append("tags", this.uploadTag);
        this.showProgress();
        await axios({
          method: "post",
          url: config.api.base_url + "/platform_videos/add_video",
          headers: {
            Authorization: 'Bearer '+this.$session.get('session_token'),
            "Content-Type": " application/json",
          },
          data: formData,
        }).then((response) => this.getResponse(response));
      }
    },
    getResponse(response) {
      if(response.data.success == false){
        this.friendlyErrorMessage=response.data.friendly_error_message;
        this.value = this.max;
      }
      else{
        this.friendlyErrorMessage='';
        this.uploadingFile = false;
        console.log(response);
        this.value = this.max;
      }
    },
    checkValidations() {
      
      if (this.imageFileSizeMBS > 5) {
        this.validation.imageSize = true;
        this.validation.validationFailure = true;
      } else {
        this.validation.imageSize = false;
      }

      if (this.videoFileSizeMBS > 400) {
        this.validation.videoSize = true;
        this.validation.validationFailure = true;
      } else {
        this.validation.videoSize = false;
      }

      if (this.videoFile.type != "video/mp4") {
        this.validation.videoType = true;
        this.validation.validationFailure = true;
      } else {
        this.validation.videoType = false;
      }

      if (this.uploadTitle == "") {
        this.validation.videoTitle = true;
        this.validation.validationFailure = true;
      } else {
        this.validation.videoTitle = false;
      }

      if (this.uploadTag == "") {
        this.validation.videoTag = true;
        this.validation.validationFailure = true;
      } else {
        this.validation.videoTag = false;
      }

      if (this.uploadDescription == "") {
        this.validation.videoDescription = true;
        this.validation.validationFailure = true;
      } else {
        this.validation.videoDescription = false;
      }

      return true;
    },
    getProgressInterval() {
      if (this.videoFileSizeMBS <= 50) {
        this.progressInterval = 5;
        this.pollingInterval = 1000;
      } else if (this.videoFileSizeMBS <= 150 && this.videoFileSizeMBS > 50) {
        this.progressInterval = 4;
        this.pollingInterval = 1000;
      } else if (this.videoFileSizeMBS <= 300 && this.videoFileSizeMBS > 150) {
        this.progressInterval = 3;
        this.pollingInterval = 1000;
      } else if (this.videoFileSizeMBS <= 500 && this.videoFileSizeMBS > 300) {
        this.progressInterval = 1;
        this.pollingInterval = 1000;
      } else {
        this.progressInterval = 1;
        this.pollingInterval = 2000;
      }
    },
    showProgress() {
      this.getProgressInterval();
      this.polling = setInterval(() => {
        if (this.value < this.max) {
          var newVal = parseInt(this.value) + parseInt(this.progressInterval);
          if (newVal <= 98) {
            this.value = newVal;
          } else {
            this.value = 98;
          }
        }
      }, parseInt(this.pollingInterval));
    },
  },
};
</script>
<style scoped>
.txt-validation {
  color: red;
}
.uploaded-success {
  color: white;
  background: rgb(12, 196, 70);
  padding: 1%;
  border-radius: 10px;
}
.txt-video-title {
  font-weight: bold;
  color: #9352b3;
}
.row {
  margin-left: 8%;
  margin-right: 8%;
}
.mt5 {
  margin-top: 5%;
}
.mb10 {
  margin-bottom: 10%;
}
.form-row {
  text-align: left !important;
  margin-top: 2%;
}
.form-row-btn {
  text-align: center;
  padding: 2%;
}
.form-row > label {
  font-weight: bold;
  color: #be7add;
}
.form-control {
  background: #f9fafb;
}

.btnpink {
  background-color: #9352b3;
  color: white;
  padding: 7px 30px 7px 30px;
  border-radius: 27px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0.5%;
}
.btnuploading {
  background-color: #be7add;
  color: white;
  padding: 7px 30px 7px 30px;
  border-radius: 27px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0.5%;
}
.progress {
  display: flex;
  height: 1rem;
  margin: 6%;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.droptarget {
  background: aliceblue;
  margin-bottom: 3%;
  padding: 10%;
  border-radius: 12px;
}
.p-dropzone {
  margin-bottom: 0rem !important;
  margin-top: 1rem;
}
.txt-drop-title {
  font-weight: bold;
}
.col-file-upload {
  border-right: 2px dotted #be7add;
}
li {
  list-style-position: inside;
  text-align: left;
  color: #9352b3;
  font-weight: bolder;
  list-style-type: disclosure-closed;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #be7add;
    outline: 0;
    box-shadow: 0 0 0 -0.75rem rgb(191 126 220);
}
</style>