/* .form-control {
    border: #ffffff !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
  
    border-radius: 50px !important;
  } */
.btn-filter-nav{
    background: #8c3464 !important;
    color: white !important;
    border-radius: 27px !important;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-filter-nav > *{
    background: #8c3464 !important;
    color: white !important;
    border-radius: 27px !important;
    
}
.btn-filter-nav > *{
    background: #8c3464 !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #7d2756;
}
.btn-search{
    background: #983f70;
    border: 1px solid #c790ae !important;
}
.vendor > img{
    height: 10%;
}
.col-vendors{
    text-align: left;
    padding-top: 8px;
}