<template>
  <div class="row">
    <div class="col-lg-12">
      <img :src="getLoader()" />
    </div>
  </div>
</template>
<script>
export default {
  name: "Loader",
  methods: {
    getLoader() {
      return require("../../assets/gifs/loader/1490.gif");
    },
  },
};
</script>
<style scoped>
.row{
    margin: 0% !important;
}
img{
    
}
</style>