<template>
<div class="dv-video-preview">
    <iframe src="https://www.youtube.com/embed/zWh3CShX_do"></iframe>
</div>
</template>

<script>
export default {
    name: "VideoPreview",
}
</script>

<style scoped>
.dv-video-preview {
    width: 100%;
    float: left;
}

.dv-video-preview > iframe {
    width: 100%;
    height: 300px;
}
</style>
