<template>
    <div class="row dv-item" v-on:click="loadVideoDetail">
        <div class="col-lg-2 ml">
            <slot name="thumbnail">
            </slot>
        </div>
        <div class="col-lg-10 ml align-middle">
            <p><slot name="title"></slot></p>
            <p><slot name="datetime"></slot></p>
            <slot name="icondelete"></slot>
        </div>
    </div>
</template>
<script>
export default {
    name:"PlaylistVideo",
    props:{
        id:String,
        platform:String
    },
    methods:{
        loadVideoDetail(){
            //Vue.prototype.$videoData = this.videoData;
            //this.$root.$emit("setSelectedVendors");
            this.$router.push({ path:'/video/'+this.platform.toLowerCase(), query: { v: this.id} });
        }
    }
}
</script>
<style scoped>
.align-middle{
    padding-top:1%;
}
.dv-20{
    width: 20%;
}
.dv-80{
    width: 80%;
}
.row{
    margin: 0% !important;
}
.ml{
    text-align: left !important;
}
.dv-item {
  width: 100%;
  margin-bottom: 1% !important;
  text-align: left;
  border: 2px dotted #be7add;
  padding: 2%;
  cursor: pointer;
}
.dv-item:hover{
  background: #fcf5ff;
}
</style>