<template>
  <div class="col-md-3" v-if="!deleted">
    <div class="row dv-item">
      <div class="col-lg-4">
        <div class="dv-videos-count">
          <p><slot name="videosCount"></slot></p>
          <img
            class="img-video-directory"
            :src="getIconUrl('video-directory.png')"
          />
        </div>
      </div>
      <div class="col-lg-8 txt-left">
        <h5><slot name="playListTitle"></slot></h5>
        <p><slot name="createdAt"></slot></p>
        <div>
          <b-button 
          variant="pink" 
          class="pink-btn"
          v-on:click="loadPlayListDetails"
          >View Playlist</b-button>
          <img
            class="img-action"
            v-bind:data-playlistid="playListId"
            v-bind:data-playlisttitle="playListTitle"
            v-bind:data-playlistdescription="playListDescription"
            v-on:click="show()"
            :src="getIconUrl('pen.png')"
          />
          <img 
            class="img-action"
            v-bind:data-playlistid="playListId"
            v-on:click="deletePlaylist" 
            :src="getIconUrl('trash.png')" />
        </div>
      </div>
    </div>
    <div class="row">
      <modal :name="'edit-modal-'+playListId" :height="auto">
        <h5 class="modal-title">Edit Playlist</h5>
        <div class="row dv-heading">
          <div class="col-lg-12">
            <label>Title</label>
            <input type="text" v-model="playlist.title" class="form-control" />
            <p
              class="txt-validation"
              v-if="validation.title && playlist.title == ''"
            >
              Title field is required
            </p>
            <label>Description</label>
            <input
              type="text"
              v-model="playlist.description"
              class="form-control"
            />
            <p
              class="txt-validation"
              v-if="validation.title && playlist.description == ''"
            >
              Description field is required
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <b-button variant="pink" v-on:click="submitPlaylist" class="dropbtn"
              >Save</b-button
            >
            <b-button variant="pink" v-on:click="hide" class="dropbtn"
              >Close</b-button
            >
          </div>
        </div>
      </modal>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import VModal from "vue-js-modal";
import VueFlashMessage from "vue-flash-message";
import VueSimpleAlert from "vue-simple-alert";
import config from "../../../configurations/config";
/**
 * Edit Playlist
 * Listing of playlists
 */
Vue.use(VModal);
Vue.use(VueFlashMessage);
Vue.use(VueSimpleAlert);
export default {
  name: "UserPlaylist",
  data() {
    return {
      playlist: {
        title: "",
        description: "",
      },
      validation: {
        title: false,
        description: false,
      },
      auto: "auto",
      modalId:"",
      deleted:false
    };
  },
  props: {
    playListId: Number,
    playListTitle: String,
    playListDescription: String,
  },
  methods: {
    getIconUrl(path) {
      return require("../../../assets/images/icons/" + path);
    },
    show() {
      var playListId = event.target.getAttribute("data-playlistid");
      this.modalId=this.playListId;
      this.playlist.title=this.playListTitle;
      this.playlist.description=this.playListDescription;
      this.$modal.show("edit-modal-"+playListId);
    },
    hide() {
      this.$modal.hide("edit-modal-"+this.modalId);
    },
    loadPlayListDetails(){
      this.$router.push({
        path: "/playlists/"+this.playListId
      });
    },
    parseResponse(response){
      this.$root.$emit('flashMessage',{
        status:'info',
        title:"Updated",
        message:"Playlist updated successfully"
      });
      console.log(response);
      //this.flash('Playlist updated', 'success');
      this.$root.$emit('getPlayLists');
      this.hide();
    },
    parseResponseDeleted(response){
      if(response.statusText == 'OK'){
        this.deleted=true;
      }
      this.$root.$emit('flashMessage',{
        status:'info',
        title:"Deleted",
        message:"Playlist deleted successfully"
      });
    },
    deletePlaylist(){
      this.$confirm("Are you sure to delete?").then(() => {
        this.doDeletePlaylist();
      });
      
    },
    async doDeletePlaylist(){
      /**
       * auth token
       */
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      await axios({
        method: "post",
        url: config.api.base_url + "/playlists/delete_playlist",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          id: this.playListId
        },
      }).then((response) => this.parseResponseDeleted(response));
    },
    async submitPlaylist() {
      //var playListId = event.target.getAttribute("data-playlistid");
      this.showErrors = false;
      this.validation.title = true;
      this.validation.description = true;
      if (this.playlist.title == "") {
        this.showErrors = true;
        return false;
      }
      if (this.playlist.description == "") {
        this.showErrors = true;
        return false;
      }

      /**
       * auth token
       */
      var auth_token = config.api.auth_token;
      if (
        this.$session.has("session_token") &&
        this.$session.get("session_token") != ""
      ) {
        auth_token = "Bearer " + this.$session.get("session_token");
      }

      await axios({
        method: "post",
        url: config.api.base_url + "/playlists/update_playlist",
        headers: {
          Authorization: auth_token,
          "Content-Type": " application/json",
        },
        data: {
          id: this.playListId,
          title: this.playlist.title,
          description: this.playlist.description,
        },
      }).then((response) => this.parseResponse(response));
    },
  },
  watch: {
    playListId() {
      this.playlist.title = this.$props.playListId;
    },
  },
};
</script>
<style scoped>
.txt-validation {
  color: red;
}
.row {
  margin: 4%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.dv-videos-count {
  border: 2px solid #be7add;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 5%;
  color: #be7add;
  background: whitesmoke;
}
.pink-btn {
  background-color: #9352b3;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 27px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
.txt-left {
  text-align: left !important;
}
.img-action {
  width: 10%;
  margin-left: 5%;
  cursor: pointer;
}
.img-video-directory {
  width: 35%;
}
.dv-item {
  margin-bottom: 10%;
}
.dropbtn {
  background-color: #9352b3;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 27px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.btn-pink {
  margin: 1%;
}
.dv-heading {
  text-align: left;
}
</style>