<template>
    <div class="dv-main">
        <h1 class="txt-404">404</h1>
        <p>The page you are looking for does not exist</p>
    </div>
</template>
<script>
export default {
    name:"NotFound"
}
</script>
<style scoped>
.dv-main{
    margin: 10%;
}
.txt-404{
    color: #be7add;
    font-size: xxx-large;
    font-weight: bolder;
}
</style>