<template>
<div class="row-footer">
<div class="row">
    <div class="col-lg-12 col-left">
        @2021 Yivster.com | All Rights Reserved
        <span class="pull-right"><a to="#">Privacy Policy</a></span>
        <span class="pull-right"><a to="#">Terms and Conditions</a></span>
        <span class="pull-right"><a to="#">Contact us</a></span>
    </div>
</div>
</div>
</template>

<script>
export default {
    name: "TheFooter"
}
</script>

<style scoped>
.dv-footer {
    width: 100% !important;
}
.row-footer{
    margin-left: 0%;
    float: left;
    width: 100%;
    background: #be7add;
    color: white;
    padding: 1%;
    position: fixed;
    text-align:left;
    bottom: 0;
}
.pull-right{
    float: right;
    margin-right:4%;
}
.col-left{
    padding-left:3%;
}
</style>
