<template>
<b-navbar toggleable="lg" class="bg-top-navbar" type="dark" variant="info">
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
        <div class="dv-nav">
            <div class="row">
                <div class="col-lg-4 col-logo-hide">
                    <b-navbar-brand href="#">
                        <div class="brand-logo">
                            <router-link to="/">
                                <img src="../assets/images/logo-navbar.png" />
                            </router-link>
                        </div>
                    </b-navbar-brand>
                </div>
                <div class="col-lg-8 col-filter">
                    <div class="row">
                        <div class="col-lg-6">
                            <InputSearch />
                            <div class="dv-suggestions">
                                <ul>
                                    <li>
                                        lorem ipsum text
                                    </li>
                                    <li>
                                        another searched text
                                    </li>
                                    <li>
                                        third searched result video
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ButtonDropDown />
                            <ButtonUpload />
                            <ButtonDashboard v-if="loggedIn" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-vendors">
                            <Vendors />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-collapse>
</b-navbar>
</template>

<script>
import Vendors from '../components/Vendors'
import InputSearch from '../components/elements/InputSearch'
import ButtonDropDown from '../components/elements/ButtonDropDown'
import ButtonUpload from '../components/elements/ButtonUpload'
import ButtonDashboard from '../components/elements/ButtonDashboard'

export default {
    name: "TheNavigation",
    data(){
        return {
            loggedIn:false
        }
    },
    mounted(){
       this.toggleDashboardLink();
       this.$root.$on("toggleDashboardLink", () => {
           this.toggleDashboardLink();
       }); 
    },
    components: {
        Vendors,
        InputSearch,
        ButtonDropDown,
        ButtonUpload,
        ButtonDashboard
    },
    methods:{
        toggleDashboardLink(){
            if(this.$session.has('session_token')){
                this.loggedIn=true;
            }
            else{
                this.loggedIn=false;
            }
        }
    }
   
};
</script>

<style scoped>
.dv-suggestions{
    margin-top:5px;
    display: none;
}
ul{
    list-style-type: none;
    background: #9352b3;
    width: 92%;
    margin-left: 3%;
    padding-left:0px;
}
ul > li{
    color: white;
    border-bottom: 1px solid white;
    color: white;
    border-bottom: 2px solid #bd79dc;
    padding: 1%;
    text-align: initial;
    padding-left: 3%;
}
.brand-logo{
    height: 55%;
    margin-left: 105px;
    float: left;
}
.bg-top-navbar{
    background-image: url('../assets/images/navbar-bg.jpg');
}
.brand-logo > a > img{
    height: 80%;
}
.brand-logo > a > p{
    color: white;
}
.dv-nav{
    /* background: #bf498a; */
    height: 95px;
    width: 100%;
}
.dv-logo{
    width: 20%;
}
.dv-filter{
    width: 80%;
}

.col-filter {
    z-index: 1000;
}

.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.btn-pink>.btn:hover {
    color: #ffffff;
}

.btn:hover {
    color: #918787;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #9352b3;
    border-radius: 27px;
}

.dropbtn:hover {
    color: whitesmoke;
}

.input-group[data-v-128f56e5][data-v-128f56e5]> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -44px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1000;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.input-group[data-v-128f56e5] {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

a.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #ffffff !important;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

@media screen and (orientation:portrait) {
    .col-logo-hide {
        display: none;
    }
    .col-vendors {
        text-align: left;
        padding-top: 8px;
        background-image: url('../assets/images/navbar-bg.jpg');
    }
}
</style>
