<template>
  <div>
    <span
      v-for="item in items"
      :key="item.name"
      :class="item.key == selectedKey ? 'vendor vendor-active' : 'vendor'"
    >
      <a
        to="#"
        :data-id="item.id"
        :data-key="item.key"
        :data-name="item.name"
        v-on:click="setSelectedVendor"
      >
        <img :src="getImgUrl(item.icon)" /> {{ item.name }}
      </a>
    </span>
  </div>
</template>

<script>
import confVendors from "../configurations/confVendors";
import Vue from "vue";
export default {
  name: "Vendors",
  data() {
    return {
      items: confVendors.vendors,
      selectedVendor: 1,
      selectedKey: "Yivster",
      selectedName: "Yivster",
    };
  },
  mounted() {
    this.$root.$on("resetSelectedVendors", () => {
      this.selectedVendor = 1;
      this.selectedKey = "Yivster";
      this.selectedName = "Yivster";
    });
    if (localStorage.getItem("vendorId") !== null) {
      this.selectedKey = localStorage.getItem("vendorId");
      this.getSelectedVendor(this.selectedKey);
    }
    //this.getSecondLastSegment();
    Vue.prototype.$vendorId = this.selectedKey;
    this.$root.$on("setSelectedVendors", () => {
      if (localStorage.getItem("vendorId") !== null) {
        this.selectedKey = localStorage.getItem("vendorId");
        this.getSelectedVendor(this.selectedKey);
      }
      //console.log('there');
      this.getVendorFromURL();
      //this.getSecondLastSegment();
    });
    this.getVendorFromURL();
  },
  methods: {
    getImgUrl(path) {
      return require("../assets/images/vendors/icons/" + path);
    },
    getSecondLastSegment(){
    var path=this.$route.path;
    var plateform=path.substring(path.lastIndexOf('/') + 1);
    if(plateform == 'yivster'){
       this.selectedKey='yivster';
    }
    if(plateform == 'youtube'){
       this.selectedKey='Youtube';
    }
    if(plateform == 'dailymotion'){
       this.selectedKey='Dailymotion';
    }
    if(plateform == 'twitch'){
       this.selectedKey='Twitch';
    }
    if(plateform == 'vimeo'){
       this.selectedKey='Vimeo';
    }
    if(plateform == 'vevo'){
       this.selectedKey='Vevo';
    }
  },
    setSelectedVendor(event) {
      //localStorage.removeItem("vendorId");
      var id = event.target.getAttribute("data-id");
      var key = event.target.getAttribute("data-key");
      var name = event.target.getAttribute("data-name");
      if (key != null) {
        this.selectedVendor = id;
        this.selectedKey = key;
        this.selectedName = name;

        Vue.prototype.$vendorId = this.selectedKey;
        Vue.prototype.$vendorName = this.selectedName;

        let query=this.$route.query.q;
        this.$router.push({
          path: "/search/" + this.selectedKey.toLowerCase(),
          query: { q: this.toSeoUrl(query) },
        });

        this.$root.$emit("loadVideosBasedOnVendor", {
          data: this.$vendorId,
        });
      }
    },
    getSelectedVendor(storedKey) {
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i].key == storedKey) {
          this.selectedName = this.items[i].name;
          this.selectedVendor = this.items[i].id;
          //console.log(this.items[i], "lkll");
        }
      }
      //console.log(this.items);
    },
    getVendorFromURL() {
      //console.log(this.$route);
      let plateform = this.$route.params.plateform;
      const plateforms = ["yivster", "youtube", "dailymotion", "twitch","vimeo","vevo"];
      if(!plateforms.includes(plateform)){
        //if(plateform == ''){
          var path=this.$route.path;
          plateform=path.substring(path.lastIndexOf('/') + 1);
        //}
      }
      
      
      // plateform.charAt(0).toUpperCase() + plateform.slice(1);
      this.selectedKey = this.capitalizeFirstLetter(plateform);
      this.selectedName = this.capitalizeFirstLetter(plateform);
      //console.log(this.href.substring(this.href.lastIndexOf('/') + 1));
    },
    capitalizeFirstLetter(string) {
      if(string != '' && string != undefined){
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
      else{
        return '';
      }
      
    },
    toSeoUrl(url) {
      if(url != 'undefined' && url != undefined){
         return url
        .toString() // Convert to string
        .normalize("NFD") // Change diacritics
        .replace(/[\u0300-\u036f]/g, "") // Remove illegal characters
        .replace(/\s+/g, "-") // Change whitespace to dashes
        .replace(" ", "-") // Change whitespace to dashes
        .toLowerCase() // Change to lowercase
        .replace(/&/g, "-and-") // Replace ampersand
        .replace(/[^a-z0-9-]/g, "") // Remove anything that is not a letter, number or dash
        .replace(/-+/g, "-") // Remove duplicate dashes
        .replace(/^-*/, "") // Remove starting dashes
        .replace(/-*$/, ""); // Remove trailing dashes
      }
     return '';
    }
  },
};
</script>

<style scoped>
.vendor {
  margin-left: 20px;
  cursor: pointer;
}

.vendor > a > img {
  height: 30px;
  margin-left: 0px;
}

.vendor > a {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}

.col-vendors {
  text-align: left;
  padding-top: 8px;
}

.vendor-active {
  border-bottom: 6px solid #f90404;
  padding-bottom: 1%;
  background: #9352b3;
  padding: 1%;
  border-radius: 4%;
}
@media screen and (orientation: portrait) {
  .vendor {
    margin-left: 20px;
    display: inline-block;
    margin-top: 2%;
  }
}
</style>
