<template>
<div class="dropdown">
    <button class="dropbtn" data-toggle="dropdown-content">{{userName}}
        <font-awesome-icon icon="angle-down" /></button>
    <div class="dropdown-content">
        <router-link v-if="!isLoggedIn" to="/login">Login</router-link>
        <b-button v-if="isLoggedIn" v-on:click="logoutUser" variant="pink" class="btn-log-out">Logout</b-button>
        <!-- <router-link v-if="isLoggedIn" v-on:click="logoutUser" to="">Logout</router-link> -->
        <router-link v-if="!isLoggedIn" to="/register">Register</router-link>
    </div>
</div>
</template>

<script>
import Vue from "vue";
import VueSession from 'vue-session'
Vue.use(VueSession);
export default {
    name: "ButtonDropDown",
    data(){
        return {
            isLoggedIn:false,
            userName:"User Account",
        }
    },
    mounted(){
        if(this.$session.has('session_token')){
            this.isLoggedIn=true;
            this.userName=this.$session.get('session_first_name');
        }
        this.$root.$on("triggerUserLogin", () => {
            this.isLoggedIn=true;
            this.userName=this.$session.get('session_first_name');
        });
    },
    methods:{
        logoutUser(){
            this.$session.destroy();
            this.isLoggedIn=false;
            this.userName="User Account";
            this.$root.$emit('flashMessage',{
                status:'info',
                title:"Logout",
                message:"Logged out successfully"
            });
            this.$root.$emit("toggleDashboardLink");
        }
    }
}
</script>

<style scoped>
.btn-log-out{
    color: white;
}
.btn-log-out:hover{
    color: #d0d4d8;
}
.dropbtn {
    background-color: #9352b3;
    color: white;
    padding: 7px 15px 7px 15px;
    border-radius: 27px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9352b3;
    color: white;
    min-width: 50px;
    border-top: 1px solid white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top:2px;
}

.dropdown-content > a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #be7add;
}

.dropdown-content a:hover {
    background-color: #9352b3;
    color: #d0d4d8;
    border-bottom: 2px solid #be7add;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #9352b3;
    color: #d0d4d8;
}
</style>
