<template>
<b-button variant="pink" to="/videos/upload" class="dropbtn">Upload</b-button>
</template>

<script>
export default {
    name: "ButtonUpload"
}
</script>

<style scoped>
.dropbtn {
    background-color: #9352b3;
    color: white;
    padding: 7px 15px 7px 15px;
    border-radius: 27px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
</style>
