<template>
  <div class="input-group">
    <input
      class="form-control border-end-0 border rounded-pill input-rounded-search"
      placeholder="Search Library"
      v-on:keyup="updateInputSearched"
      @keyup.enter="searchVideos()"
      v-model="inputSearched"
      type="text"
    />
    <span class="input-group-append">
      <button
        v-on:click="searchVideos"
        class="
          btn btn-outline-secondary
          border-start-0
          btn-search-icon
          rounded-pill
          ms-n3
          btn-rounded-search
        "
        type="button"
      >
        <font-awesome-icon icon="search" />
      </button>
    </span>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import config from "../../configurations/config";
Vue.prototype.$http = axios;

export default {
  name: "InputSearch",
  data() {
    return {
      inputSearched: "",
      searchedVideos: "",
    };
  },
  mounted() {
    this.inputSearched=this.$route.query.q;
    if (this.$route.query.q) {
      Vue.prototype.$inputSearched = this.toNormalText(this.$route.query.q);
      this.inputSearched = this.$inputSearched;
    }
    this.guestLoadVideos();
  },
  methods: {
    searchVideos() {
      this.$router.push({
        path: "/search/"+this.$vendorId.toLowerCase(),
        query: { q: this.toSeoUrl(this.inputSearched) },
      });

      Vue.prototype.$inputSearched = this.inputSearched;
      this.$root.$emit("loadVideosBasedOnVendor", {
        data: this.$vendorId,
      });
    },
    guestLoadVideos() {
      try {
        var auth_token=config.api.auth_token;
        if((this.$session.has('session_token')) && (this.$session.get('session_token') != '')){
          auth_token='Bearer '+this.$session.get('session_token');
        }
        axios({
          method: "post",
          url: config.api.base_url + "/videos/get_videos",
          headers: {
            Authorization: auth_token,
            "Content-Type": " application/json",
          },
        }).then((response) =>
          this.$root.$emit("eventing", {
            data: response.data,
          })
        );
      } catch (error) {
        console.log(error);
      }
    },
    updateInputSearched() {
      //console.log(this.inputSearched);
      Vue.prototype.$inputSearched = this.inputSearched;
    },
    toSeoUrl(url) {
      if(url == 'undefined' || url == undefined){
        return '';
      }
      return url
        .toString() // Convert to string
        .normalize("NFD") // Change diacritics
        .replace(/[\u0300-\u036f]/g, "") // Remove illegal characters
        .replace(/\s+/g, "-") // Change whitespace to dashes
        .replace(" ", "-") // Change whitespace to dashes
        .toLowerCase() // Change to lowercase
        .replace(/&/g, "-and-") // Replace ampersand
        .replace(/[^a-z0-9-]/g, "") // Remove anything that is not a letter, number or dash
        .replace(/-+/g, "-") // Remove duplicate dashes
        .replace(/^-*/, "") // Remove starting dashes
        .replace(/-*$/, ""); // Remove trailing dashes
    },
    toNormalText(url){
        return url
        .toLowerCase() // Change to lowercase
        .replace("-and-","&")
        .replace("-"," "); // Remove duplicate dashes
    }
  },
};
</script>

<style scoped>
.input-rounded-search {
  background: #9352b3;
  color: white !important;
  padding-left: 3%;
}
.input-rounded-search:focus {
  background: #bf7bde;
}

*::placeholder {
  /* modern browser */
  color: rgb(228, 228, 228) !important;
}

.btn-rounded-search {
  background: #9352b3;
}

.input-group[data-v-128f56e5]
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -42px;
  margin-top: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-search-icon {
  border-color: #9352b3;
  color: white;
  height: 90%;
  margin-top: 1px;
}

.form-control:focus {
  color: #ffffff;
  background: #bf7bde;
  border-color: #8c3464;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #c984e7;
  border-color: #c984e7;
}
</style>
