<template>
  <div id="app">
    <FlashMessage class="flash-message" :position="'right top'"></FlashMessage>
    <TheNavigation />
    <router-view></router-view>
    <TheFooter />
  </div>
</template>

<script>
import Vue from "vue";
import TheNavigation from './components/TheNavigation'
import TheFooter from './components/TheFooter'
import FlashMessage from '@smartweb/vue-flash-message';
//https://www.vuescript.com/beautiful-flash-messages-in-vue/
Vue.use(FlashMessage);

export default {
  name: 'App',
  components: {
    TheNavigation,
    TheFooter
  },
  mounted(){
    this.$root.$on("flashMessage", (data) => {
      this.flashMessage.show({
        status: data.status,
        title: data.title,
        message: data.message
      });
      console.log('there')
    })
  }
}
</script>

<style>
  @import './assets/css/styles.css';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
}
.flash-message{
  position:absolute;
  z-index: 10000;
}
</style>
